extends ../shared/layout.pug
include ../shared/head-image.pug
include ../shared/contact-us.pug
include ../shared/two-column-article.pug
include ../shared/hover-cards.pug
include ../shared/article-title.pug
include ../shared/list.pug
include ../shared/partners.pug
include ../shared/integrations.pug
include ../shared/contact-us-form.pug
include ../shared/follow-team.pug

mixin integrationCards(data, name, work, index)
    .card-employees(data-name=data)
        - const titleClass = `card-employees__logo-${index}`;
     
        div.card-employees__logo(class=titleClass)
        .card-employees__text
            p.card-employees__name=name
            p.card-employees__workplace=work
            img.card-employees__arrow.hidden(src=require("../../images/about-us/arrow.svg") alt='check')

mixin integrationBlogCards(work, index, link)
    a.card-press-box(href=link)
        .card-press
            - const titleClass = `card-press__outer--${index}`;
            
            .card-press__outer(class=titleClass)
            .card-press__content-box
                p.card-press__info=work
                img.card-employees__arrow.hidden(src=require("../../images/about-us/arrow.svg") alt='check')


mixin popupTeam
        .popup-team
            .popup-team__background.hidden
            .popup-team__content.hidden
                .popup-team__close
                
                img.popup-team__logo
                .popup-team__subtitle
                    p.popup-team__subtitle-text
                    .popup-team__arrow.popup-team__arrow-left. 
                    .popup-team__arrow.popup-team__arrow-right.
                .popup-team__info-box
                    p.popup-team__name
                    p.popup-team__work 
                    a.popup-team__link   
                .popup-team__text-box
                    p.popup-team__text 
   
block content
    -
        const missions = [
            'To bridge the communication gap between doctors, patients, and families.',
            'To prevent medical errors',
            'To reduce healthcare costs.',
            ['To ', { text: 'put high quality ', variant: 'italic'}, 'medical care ', { text: 'within reach ', variant: 'italic'}, 'of all persons worldwide, rich or poor, in cities or remote villages.']
        ];

         const blog = [
            'U.S. Cardiologists Partner With Diya Health to Extend Their R...',
            'Digital Health Enhances Senior Care',
            'Telehealth Transforms In-Home Care',
            'Adapt to Changes in Telehealth Insurance Cover...',
        ];

        const links = ['https://www.diyahealth.org/posts/u-s-cardiologists-partner-with-diya-health-to-extend-their-reach-to-rural-india.html',
         'https://www.diyahealth.org/posts/digital-health-enhances-senior-care.html', 
         'https://www.diyahealth.org/posts/telehealth-transforms-in-home-care.html', 
         'https://www.diyahealth.org/posts/adapt-to-changes-in-telehealth-insurance-coverage.html']      
                 
                
           
        const dataIntegrations = [
                'BambooHR',
                'ADP',
                'Oracle',
                'Excel',
                'Workday',
                'OfficeWork',
                'SAP',
                'SuccessFactors',
                'Cornerstone',
                'Epic',
                'Cerner',
                'Kaiser Permanente',
                'NIH',
                'DrugBank',
        ];

        const team = [
            {
                name: 'Amit Bansal',
                work: 'CEO & Founder',
                title: "The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.",
                text: 'Amit is an experienced software engineer who has led large organizations that develop and deploy SaaS products. His record of achievements includes innovations, expansion, and profitability. As CEO, Amit serves as the company’s lead communicatory, fundraiser, and talent recruiter. Amit directs the company’s efforts to achieve a clear vision of healthcare system improvement.',
                image: require('../../images/about-us/fotos/bansal.svg'),
                index: 0,
                href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/',
            },
            {
                name: 'Charlie Barr, MD, MPH',
                work: 'Chief Medical Officer',
                title: "The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.",
                text: "Dr. Barr is a board-certified internal medicine physician with 20 years of experience in clinical practice, teaching, and research. He has played key roles in promoting innovative programs within the pharmaceutical and startup industries. As Chief Medical Officer, Dr. Barr plays an essential role in building Diya Health's relationships and refining the productDr. Barr's breadth of experience spans the academic and community settings with an interest in electronic health records, clinical quality improvement, clinical guidelines, and telemedicine. He has 20 years of experience in pharmaceutical drug development (Pfizer, Roche and Genentech) with leadership roles in clinical development and medical affairs, clinical operations, biostatistics, health economics, and outcomes research. He joined a startup company in disease management, and has been an intrapreunerial founder of groups in medical informatics, data science, patient registries and real world data, evidence science, strategic innovation, and external partnerships. Dr. Barr is a board-certified internal medicine physician with 20 years of experience in clinical practice, teaching, and research. He has played key roles in promoting innovative programs within the pharmaceutical and startup industries. As Chief Medical Officer, Dr. Barr plays an essential role in building Diya Health's relationships and refining the productDr. Barr's breadth of experience spans the academic and community settings with an interest in electronic health records, clinical quality improvement, clinical guidelines, and telemedicine. He has 20 years of experience in pharmaceutical drug development (Pfizer, Roche and Genentech) with leadership roles in clinical development and medical affairs, clinical operations, biostatistics, health economics, and outcomes research. He joined a startup company in disease management, and has been an intrapreunerial founder of groups in medical informatics, data science, patient registries and real world data, evidence science, strategic innovation, and external partnerships.",
                image: require('../../images/about-us/fotos/barr.svg'),
                index: 1,
                href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/',
            },
            {
                name: 'Roman Polunin',
                title: "Employee wellness shouldn't be yet another benefit hidden among cumbersome forms; and health information shouldn't be locked within the walls of clinical systems. I'm passionate about Diya Health because it fulfills the vast need for tools to enable meaningful, flexible, engaging, measurable health and wellness initiatives.",
                work: 'Chief Technology Officer',
                text: "Roman is a long-time software engineer and architect, having served in many different business domains writing code, working on products, and mentoring others. He's passionate about healthcare, technology, and cloud computing. As CTO, Roman leads Diya Health’s technological innovation and advancement. Roman oversees the company’s strategy and growth as it relates to product development.",
                image: require('../../images/about-us/fotos/polunin.svg'),
                index: 2,
                href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/',
            },
            {
                name: 'Daniel Garcia, MD, PhD',
                title: "As a physician, everyday I see the challenges created by gaps in information—Diya Health has created a transformational ecosystem that connects physicians, patients and families to improve critical information delivery when needed most. I am excited to be a part of Diya Health’s journey, and I look forward to contributing my clinical expertise to improve patient care.",
                work: 'Executive Director of Business Development',
                text: 'Dr. Dan Garcia is a Cardiothoracic Anesthesiologist with a Ph.D. in biomedical engineering. As Executive Director of Business Development, Dr. Garcia provides essential input on technology’s role in provider workflows. Additionally, Dr. Garcia leads Diya Health’s outreach to providers, medical groups, and health systems.',
                image: require('../../images/about-us/fotos/garcia.svg'),
                index: 3,
                href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/',
            },
            {
                name: 'Danielle Kaiser, MHA',
                title:"Diya Health empowers organizations and individuals with information to improve health outcomes. With Diya, everyone can become better health advocates for themselves and their loved ones.",
                work: 'Director of Operations',
                text: 'Danielle has a Master of Health Administration from USC, where she has played a key role in health-system-level data analytics and research study development. As Director of Operations, Danielle is responsible for the execution of strategic goals. Danielle oversees daily operations and business improvement initiatives.',
                image: require('../../images/about-us/fotos/kaiser.svg'),
                index: 4,
                href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/',
            },
            {
                name: 'Wally Finley',
                title: "The best and most beautiful things in the world cannot be seen or even touched - they must be felt with the heart.",
                work: 'Head of IT & Compliance',
                text: 'Wally Finley has over 25 years of experience managing and optimizing private and public cloud infrastructure in the medical, internet-facing, university, and big data industries. As Head of IT & Compliance, Wally oversees regulatory and contractual compliance, handling of PHI data, cloud architecture, cost modeling, and day-to-day IT operations. Wally has a Masters of Computer Science from Vanderbilt University.',
                image: require('../../images/about-us/fotos/finley.svg'),
                index: 5,
                href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/',  
            },
            {
                name: 'Alex Tolkachev',
                title: "Diya Health helps connect technologies and people to make their lives lighter. It’s exciting to be a part of the future of health and wellness.",
                work: 'Director of Engineering',
                text: 'Alex is an experienced software engineer who has worked on a number of projects in different business domains. As Director of Engineering, Alex is responsible for the coordination of technical specialists and software architecture. His primary goal is building a team to deliver modern, robust, and reliable technical solutions for Diya Health and its clients.',
                image: require('../../images/about-us/fotos/tolkachev.svg'),
                index: 6,
                href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/',
            },
        ];

        
    main.main-box.about-us
        article.about-us-image-container
            .about-us-image-container__notice-box-hidden
                    .about-us-image-container__wellness-text-box
                        span.about-us-image-container__text-increase 8x increase in engagement!
                        img.about-us-image-container__company-logo(src=require("../../images/customers/Falck Logo.png"), alt="Falck Logo")
            .about-us-image-container__notice-box
                    img.about-us-image-container__container-background(src=require("../../images/wellness/images/notice.svg") alt='Processes to get back to work safely')
                    .about-us-image-container__wellness-text-box
                        span.about-us-image-container__text-increase 8x increase in engagement!
                        img.about-us-image-container__company-logo(src=require("../../images/customers/Falck Logo.png"), alt="Falck Logo")
            .about-us-image-container__text-box
                .about-us-image-container__subtitle-text 
                    span About Us 
                button.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') 
                    span.label Request a demo
        article.our-mission
            .inner
                .our-mission__service-items-box
                    .our-mission__item
                        img.our-mission__logo(src=require("../../images/about-us/rocket.svg") alt='Our goals')
                        h1.our-mission__title Our Mission
                        p.our-mission__subtitle We improve health outcomes through personalized engagement.
                    .our-mission__item
                        img.our-mission__logo(src=require("../../images/about-us/mountain.svg") alt='Our vision')
                        h1.our-mission__title Our Vision 
                        p.our-mission__subtitle We aim to put high quality healthcare within reach of all persons worldwide.
        article.history-container
            .history-container__title
                    h2 Our History
            .history-container__box-content
                .history-container__left
                        p Diya Health, a Silicon Valley-based digital health startup, was founded in 2018 as a partnership of doctors and engineers who were looking to shine light on the darkness of information in healthcare.
                        p Diya, a word of Arabic origin, means “radiance.” It has been adopted by South-Asian culture as a name for a primitive lamp, and symbolizes optimism and prosperity. It lights the dark and gives a sense of calm. 
                        p By engaging employers, providers, patients, and families in healthcare, Diya Health lives up to its name — it lights the dark.
                .history-container__right
                    .history-container__image-box
        article.leadership-container
            .leadership-container__title
                    h2 Leadership Team
            .leadership-container__box-content
                
                +integrationCards( 0, 'Amit Bansal', 'CEO & Founder', 1)
                +integrationCards( 1, 'Charlie Barr, MD, MPH', 'Chief Medical Officer', 2)
                +integrationCards( 2, 'Roman Polunin', 'Chief Technology Officer', 3)
                +integrationCards( 3, 'Daniel Garcia, MD, PhD', 'Executive Director of Business Development', 4)
            .leadership-container__box-content.leadership-container__box-content--marginTop
                +integrationCards( 4, 'Danielle Kaiser, MHA', 'Director of Operations', 5)
                +integrationCards( 5, 'Wally Finley, MHA', 'Head of IT & Compliance', 6)
                +integrationCards( 6 , 'Alex Tolkachev', 'Director of Engineering', 7)
                .card-employees.position-card 
                    .special-card
                        .card-employees__contact-us
                            p Have a question
                            button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                                .label Contact US
        article.our-blog-container
            .our-blog-container__title
                h2 Our Blog
                .our-blog-container__cards-container
                    +integrationBlogCards(blog[0], 1, links[0])
                    +integrationBlogCards(blog[1], 2, links[1])
                    +integrationBlogCards(blog[2], 3, links[2])
                    +integrationBlogCards(blog[3], 4, links[3])
                button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                               .label Go to blog
        article.partnerships
           .inner
               h2.partnerships__title Partnerships
               p.partnerships__subtitle Diya Health is a digital health, AI-driven Software-as-a-Service platform that engages employers, health systems, and individuals for great health outcomes. Diya Health is seeking partners to provide even more comprehensive offerings to our customers. Join the Diya Health network to provide users with all that they need to improve outcomes at lower cost.
               button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                               .label Let's partner
               +integrations(true,dataIntegrations)                 
        article.contact-us
            .contact-us-container(id="contact-us")
                .title
                    h2 Contact Us
                    p.text.
                        Haven't found the answer to your question? Interested in learning more about pricing? Requesting a demo?
                        Contact us and we will get back to you shortly.
                .content
                    +contactUsForm(organizationSizeOptions)
        +popupTeam
        +hoverCards
        +followTeam(team)      
       
                                    
                        
                        
           
















































    //- +headImage("head-bg-about-us", "Diya Health is a team of physicians, engineers, gerontologists, researchers, designers and business leaders", 'small')
    //- article.primary-background-content.anchor(id="mission")
    //-     .default-content-block.centered-article-container
    //-         .content
    //-             h4.text.title Our Mission
    //-             +twoColumnArticle({ secondaryLeft: 'image-container' })
    //-                 +setContent('secondaryLeft')
    //-                     img(src=require("../../images/about-us/diya-health-on-computer.jpg"))
    //-                 +setContent('secondaryRight')
    //-                     +list(missions, { itemText: 'big', icon: 'big' })
               
    //- article
    //-     +twoColumnArticle({ secondaryLeft: 'image-container' })
    //-         +setContent('secondaryLeft')
    //-             img(src=require("../../images/about-us/diya-health-on-computer.jpg"))
    //-         +setContent('secondaryRight')
    //-             i.text.
    //-                 Using advanced algorithms, data science, and artificial-intelligence capability, we have developed a product that was inconceivable only a few years ago.  It is a software-as-a-service digital platform for use as a personal health diary.  It receives, stores, and updates all of a patient's medical information, making it available to anyone the patient wishes — doctors, family members, and caregivers.  It facilitates telehealth as well as communication among a patient's health providers.  It is easy to use in any language.  It improves health outcomes.

    //- article.anchor(id="history")
    //-     +articleTitle('Our History', { divider: 'primary' }, true)
    //- article
    //-     +twoColumnArticle({ container: 'primary-background-content', secondaryRight: 'image-container' })
    //-         +setContent('main')
    //-             h4.text.title What's in the name?
    //-         +setContent('secondaryLeft')
    //-             span.text.
    //-                 Diya is a word of Arabic origin that means "radiance."  It has been adopted by South-Asian culture as a name for a primitive lamp — a small handmade clay bowl that, with a bit of oil and a wick, creates light.  It symbolizes optimism and prosperity.  It lights the dark and gives a sense of calm.
    //-             br
    //-             span.text
    //-                 span In selecting our name, we drew inspiration from a sentence in the 
    //-                 i prayer of St. Francis of Assisi: 
    //-                 span "Where there is darkness, may I bring light."  When it comes to our health care, there is an enormous amount of darkness — information darkness. 
    //-                 i Doctors, patients, and families often are in the dark. 
    //-                 span Our product offers lifesaving information delivered on a 
    //-                 i computer or smart phone. 
    //-                 span It is a 
    //-                 i unique and sophisticated 
    //-                 span gift of modern technology.  Yet to us it also is a simple gift — it lights the dark.

    //-         +setContent('secondaryRight')
    //-             img(src=require("../../images/index/diya.jpg"), alt="Diya")
    //- article.anchor(id="team")
    //-     +articleTitle('Our Team', { divider: 'primary' }, true)
    //-     .team-content-container
    //-         each member, index in team
    //-             div(class=member.itemClass)
    //-                 .team-member
    //-                     .image-container
    //-                         .photo
    //-                             img(src=member.image)
    //-                     .info-container
    //-                         h5.person
    //-                             span=member.name
    //-                             if member.title
    //-                                 span , 
    //-                                 i=member.title

    //-                         p.description(id=`${index}-description`)
    //-                             span(class=member.fullText !== null ? 'partial-description' : undefined)=member.text
    //-                             if (member.fullText)
    //-                                 span.more-points(onclick="window.diya.toggleClass('" + index + '-description' + "', 'full')") ...
    //-                                 span.full-description=member.fullText

    //- article.anchor(id="partnerships")
    //-     +articleTitle('Partnerships', { divider: 'primary' }, true)
    //- article.primary-background-content
    //-     .default-content-block.centered-article-container
    //-         .content
    //-             span.text.
    //-                 Diya Health is a growing healthcare technology startup. We are a team of a team of physicians, engineers, gerontologists, researchers, designers and business leaders who are looking to learn and grow as professionals. We are seeking additional team members who have a passion for improving care quality and access, are driven and hard-working, and who appreciate lifelong learning.
    //-             br
    //-             button.material-btn.large(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
    //-                 span.label.large
    //-                     span Partner With Us
    //- article
    //-     .default-content-block.centered-article-container.partners-title-container
    //-         .content
    //-             h4.text.title.no-margin Our Partners
    //-     +partners()

    //- article
    //-     .default-content-block.centered-article-container.hth-share
    //-         .content
    //-             h4.text.title Share With Others
    //-             span.text.
    //-                 If you believe in our mission or know someone else who may have the desire, knowledge or expertise, please help by increasing awareness of Diya Health. Share our story with your friends. Together we can make the future brighter for those in need and give everyone a fair chance for good health.
    //-             .input-group
    //-                 each item in links
    //-                     a(href=item.href, target="_blank")
    //-                         img(src=item.icon)

    //- article(id="contact-us").primary-background-content
    //-     +contactUs(organizationSizeOptions)
