extends ../shared/layout.pug

include ../shared/head-image.pug
include ../shared/contact-us.pug
include ../shared/two-column-article.pug
include ../shared/article-title.pug
include ../shared/list.pug
include ../shared/partners.pug

block content
    -
        const missions = [
            'To bridge the communication gap between doctors, patients, and families.',
            'To prevent medical errors',
            'To reduce healthcare costs.',
            ['To ', { text: 'put high quality ', variant: 'italic'}, 'medical care ', { text: 'within reach ', variant: 'italic'}, 'of all persons worldwide, rich or poor, in cities or remote villages.']
        ];

        const links = [
            {
                href: 'https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/',
                icon: require("../../images/icons/facebook-icon.svg"),
            },
            {
                href: 'https://twitter.com/intent/tweet/?text=Diya%20Health%20Website&amp;url=https%3A%2F%2Fwww.diyahealth.org%2F',
                icon: require("../../images/icons/twitter-icon.svg"),
            },
            {
                href: 'https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.diyahealth.org/&title=Diya%20Health%20Website&summary=Lighting%20the%20Path%20to%20a%20Healthier%20Future%20for%20All&source=https%3A//www.diyahealth.org/',
                icon: require("../../images/icons/linkedin-icon.svg"),
            }
        ];

        const team = [
            {
                name: 'Amit Bansal',
                title: 'CEO & Founder',
                text: 'Amit is an experienced software engineer who has led large organizations that develop and deploy SaaS products. His record of achievements includes innovations, expansion, and profitability. As CEO, Amit serves as the company’s lead communicatory, fundraiser, and talent recruiter. Amit directs the company’s efforts to achieve a clear vision of healthcare system improvement.',
                image: require('../../images/team/amit.png'),
                itemClass: 'primary-background-content',
            },
            {
                name: 'Charlie Barr',
                title: 'MD, MPH, Chief Medical Officer',
                text: 'Dr. Barr is a board-certified internal medicine physician with 20 years of experience in clinical practice, teaching, and research. He has played key roles in promoting innovative programs within the pharmaceutical and startup industries. As Chief Medical Officer, Dr. Barr plays an essential role in building Diya Health\'s relationships and refining the product',
                fullText: 'Dr. Barr\'s breadth of experience spans the academic and community settings with an interest in electronic health records, clinical quality improvement, clinical guidelines, and telemedicine. He has 20 years of experience in pharmaceutical drug development (Pfizer, Roche and Genentech) with leadership roles in clinical development and medical affairs, clinical operations, biostatistics, health economics, and outcomes research. He joined a startup company in disease management, and has been an intrapreunerial founder of groups in medical informatics, data science, patient registries and real world data, evidence science, strategic innovation, and external partnerships.',
                image: require('../../images/team/charlie.png'),
            },
            {
                name: 'Roman Polunin',
                title: 'Chief Technology Officer',
                text: 'Roman is a long-time software engineer and architect, having served in many different business domains writing code, working on products, and mentoring others. He\'s passionate about healthcare, technology, and cloud computing. As CTO, Roman leads Diya Health’s technological innovation and advancement. Roman oversees the company’s strategy and growth as it relates to product development.',
                image: require('../../images/team/roman.png'),
                itemClass: 'primary-background-content',
            },
            {
                name: 'Daniel Garcia',
                title: 'MD, PhD, Executive Director of Business Development',
                text: 'Dr. Dan Garcia is a Cardiothoracic Anesthesiologist with a Ph.D. in biomedical engineering. As Executive Director of Business Development, Dr. Garcia provides essential input on technology’s role in provider workflows. Additionally, Dr. Garcia leads Diya Health’s outreach to providers, medical groups, and health systems.',
                image: require('../../images/team/dan.jpg'),
            },
            {
                name: 'Danielle Kaiser',
                title: 'Director of Operations',
                text: 'Danielle is a Master of Health Administration student at USC, where she has played a key role in health-system-level data analytics and research study development. As Director of Operations, Danielle is responsible for the execution of strategic goals. Danielle oversees daily operations and business improvement initiatives.',
                image: require('../../images/team/danielle.jpg'),
                itemClass: 'primary-background-content',
            },
            {
                name: 'Wally Finley',
                title: 'Head of IT & Compliance',
                text: 'Wally Finley has over 25 years of experience managing and optimizing private and public cloud infrastructure in the medical, internet-facing, university, and big data industries. As Head of IT & Compliance, Wally oversees regulatory and contractual compliance, handling of PHI data, cloud architecture, cost modeling, and day-to-day IT operations. Wally has a Masters of Computer Science from Vanderbilt University.',
                image: require('../../images/team/wally.png'),  
            },
            {
                name: 'Hoan Nguyen',
                title: 'Director of Strategy',
                text: 'Hoan is a doctoral candidate at the University of Southern California, who has an extensive research background that addresses information communication technologies and technology entrepreneurship. Along with her Ph.D., Hoan is pursuing a graduate degree in Technology Commercialization at USC’s Marshall School of Business. As the Director of Strategy, Hoan researches and plans Diya Health’s long-term strategic goals. Hoan leads the company’s growth and future development.',
                image: require('../../images/team/hoan.jpg'),
                itemClass: 'primary-background-content',
            },
            {
                name: 'Alex Tolkachev',
                title: 'Software Engineer',
                text: 'Alex is an experienced software engineer, who has worked on plenty of projects in different business domains. As an engineer, Alex is responsible for API and infrastructure development, continuous integration, building data processing tools, code review, and technical requirements validation.',
                image: require('../../images/team/alex.jpg'),
            },
            {
                name: 'Nikita Posled',
                title: 'Software Engineer',
                text: 'Nikita is a software engineer with a strong technical background. As an engineer, Nikita is in charge of UI / UX development and delivery management of our products. Besides Nikita is working on building fast and robust PWA applications for mobile devices to provide our solutions for any platform.',
                image: require('../../images/team/nikita.jpg'),
                itemClass: 'primary-background-content',
            }
        ];

    +headImage("head-bg-about-us", "Diya Health is a team of physicians, engineers, gerontologists, researchers, designers and business leaders", 'small')
    article.primary-background-content.anchor(id="mission")
        .default-content-block.centered-article-container
            .content
                h4.text.title Our Mission
                +twoColumnArticle({ secondaryLeft: 'image-container' })
                    +setContent('secondaryLeft')
                        img(src=require("../../images/about-us/diya-health-on-computer.jpg"))
                    +setContent('secondaryRight')
                        +list(missions, { itemText: 'big', icon: 'big' })
               
    article
        +twoColumnArticle({ secondaryLeft: 'image-container' })
            +setContent('secondaryLeft')
                img(src=require("../../images/about-us/diya-health-on-computer.jpg"))
            +setContent('secondaryRight')
                i.text.
                    Using advanced algorithms, data science, and artificial-intelligence capability, we have developed a product that was inconceivable only a few years ago.  It is a software-as-a-service digital platform for use as a personal health diary.  It receives, stores, and updates all of a patient's medical information, making it available to anyone the patient wishes — doctors, family members, and caregivers.  It facilitates telehealth as well as communication among a patient's health providers.  It is easy to use in any language.  It improves health outcomes.

    article.anchor(id="history")
        +articleTitle('Our History', { divider: 'primary' }, true)
    article
        +twoColumnArticle({ container: 'primary-background-content', secondaryRight: 'image-container' })
            +setContent('main')
                h4.text.title What's in the name?
            +setContent('secondaryLeft')
                span.text.
                    Diya is a word of Arabic origin that means "radiance."  It has been adopted by South-Asian culture as a name for a primitive lamp — a small handmade clay bowl that, with a bit of oil and a wick, creates light.  It symbolizes optimism and prosperity.  It lights the dark and gives a sense of calm.
                br
                span.text
                    span In selecting our name, we drew inspiration from a sentence in the 
                    i prayer of St. Francis of Assisi: 
                    span "Where there is darkness, may I bring light."  When it comes to our health care, there is an enormous amount of darkness — information darkness. 
                    i Doctors, patients, and families often are in the dark. 
                    span Our product offers lifesaving information delivered on a 
                    i computer or smart phone. 
                    span It is a 
                    i unique and sophisticated 
                    span gift of modern technology.  Yet to us it also is a simple gift — it lights the dark.

            +setContent('secondaryRight')
                img(src=require("../../images/index/diya.jpg"), alt="Diya")
    article.anchor(id="team")
        +articleTitle('Our Team', { divider: 'primary' }, true)
        .team-content-container
            each member, index in team
                div(class=member.itemClass)
                    .team-member
                        .image-container
                            .photo
                                img(src=member.image)
                        .info-container
                            h5.person
                                span=member.name
                                if member.title
                                    span , 
                                    i=member.title

                            p.description(id=`${index}-description`)
                                span(class=member.fullText !== null ? 'partial-description' : undefined)=member.text
                                if (member.fullText)
                                    span.more-points(onclick="window.diya.toggleClass('" + index + '-description' + "', 'full')") ...
                                    span.full-description=member.fullText

    article.anchor(id="partnerships")
        +articleTitle('Partnerships', { divider: 'primary' }, true)
    article.primary-background-content
        .default-content-block.centered-article-container
            .content
                span.text.
                    Diya Health is a growing healthcare technology startup. We are a team of a team of physicians, engineers, gerontologists, researchers, designers and business leaders who are looking to learn and grow as professionals. We are seeking additional team members who have a passion for improving care quality and access, are driven and hard-working, and who appreciate lifelong learning.
                br
                button.material-btn.large(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                    span.label.large
                        span Partner With Us
    article
        .default-content-block.centered-article-container.partners-title-container
            .content
                h4.text.title.no-margin Our Partners
        +partners()
    article.anchor.primary-background-content(id="careers")
        .default-content-block.centered-article-container
            .content.positions
                h4.text.title Available Positions
                .input-group
                    a.material-btn(href="https://docs.google.com/document/d/1afM9j0J4hE3-1YCQ0-EAUyGhQpFSRgtFiUSsgNoPtkw", target="_blank")
                        span.label.large
                            span Digital Media Intern
                    a.material-btn(href="https://docs.google.com/document/d/1ajM1DSblYl5I2h7rsFjP8HJitwav42VnBKSwmAe17T4", target="_blank")
                        span.label.large
                            span Analyst Intern
                i.text
                    span If you are interested in applying for any available position, please submit inqueries to 
                    a(href="mailto:info@diyahealth.org") info@diyahealth.org

    article
        .default-content-block.centered-article-container.hth-share
            .content
                h4.text.title Share With Others
                span.text.
                    If you believe in our mission or know someone else who may have the desire, knowledge or expertise, please help by increasing awareness of Diya Health. Share our story with your friends. Together we can make the future brighter for those in need and give everyone a fair chance for good health.
                .input-group
                    each item in links
                        a(href=item.href, target="_blank")
                            img(src=item.icon)

    article(id="contact-us").primary-background-content
        +contactUs(organizationSizeOptions)
