extends ../shared/layout.pug
 
include ../shared/head-image.pug
include ../shared/contact-us.pug
 
block content
    +headImage("head-bg-about-us", "Diya Health is a team of physicians, engineers, gerontologists, researchers, designers and business leaders", 'small')
 
    article.content-block-bg.text-image
        .index-mission.content-inner
            .text-container
                h2.block-title Our Mission
                ul
                    li.text To bridge the communication gap between doctors, patients, and families.
                    li.text To prevent medical errors.
                    li.text To reduce healthcare costs.
                    li.text To 
                        i put high-quality 
                        medical medical care 
                        i within reach 
                        of of all persons worldwide, rich or poor, in cities or remote villages.
                .header-replacement
                p.quote.
                    Using advanced algorithms, data science, and artificial-intelligence capability, we have developed a product that was inconceivable only a few years ago.  It is a software-as-a-service digital platform for use as a personal health diary.  It receives, stores, and updates all of a patient's medical information, making it available to anyone the patient wishes -- doctors, family members, and caregivers.  It facilitates telehealth as well as communication among a patient's health providers.  It is easy to use in any language.  It improves health outcomes.  
 
 
                br
                p.text Diya Health  was founded in April 2018 in CA, USA.
            .image-container
                img(src=require("../../images/about-us/volunteer-with-us.jpg"), alt="Volunteers")
 
    article.content-block
        .index-diya
            .border-container
                .image-container
                    img(src=require("../../images/index/diya.jpg"), alt="Diya")
                p.text
                    span.block-title2 What's in a name?
                    br
                    br
                    span Diya is a word of Arabic origin that means "radiance."  It has been adopted by South-Asian culture as a name for a primitive lamp -- a small handmade clay bowl that, with a bit of oil and a wick, creates light.  It symbolizes optimism and prosperity, lighting the dark to give a sense of calm.
                    br 
                    br
                    span.
                        In selecting our name, we drew inspiration from a sentence in the prayer of St. Francis of Assisi:  "Where there is darkness, may I bring light."  When it comes to our health care, there is an enormous amount of darkness -- information darkness.  Doctors, patients, and families often are in the dark.  Our product offers lifesaving information delivered on a computer or smartphone, a unique and sophisticated gift of modern technology.  Yet to us it also is a simple gift -- it lights the dark.
 
 
    article.content-block-bg.primary
        .content-inner.image-text
            .image-container
                img(src=require("../../images/about-us/doctors.jpg"), alt="Doctors")
            .text-container
                h2.block-title
                    span We serve 
                    span.title-underlined doctors
                p.text
                    span Specifically designed for physicians in private practice, 
                    i DiyaMD 
                    span enables doctors to communicate with single or multiple patients 
                    span through the patients’ 
                    i myDiya 
                    span accounts. On the other hand, 
                    i DiyaMD 
                    span enhances telehealth.  Doctors use 
                    i DiyaMD 
                    span.
                        to review and respond to patients’ complaints, monitor patients remotely, note symptom-trends,
                        reconcile medications with in-house EHRs, send alerts, and generate reports of billable services.
    article.content-block-bg.primary
        .content-inner.text-image
            .text-container
                h2.block-title
                    span We serve 
                    span.title-underlined patients
                p.text
                    span Our personal health records app, 
                    i myDiya
                    span , allows a person to manage their own electronic “health diary.” 
                    span.
                        It can receive data from any standard healthcare system, is compliant with personal-security standards, and can be used in emergencies as a personal
                        “medical alert bracelet.”  It allows for remote referrals, monitoring of symptoms, alerts about medications
                        (e.g., dosage duplications or contraindications), among other capabilities. Most importantly, the information is controlled by,
                        owned by, and travels with the patient, regardless of changes in doctor, medical plan, residence, or caregiver.
            .image-container
                img(src=require("../../images/about-us/patients.jpg"), alt="Patients")
    article.content-block-bg
        .content-inner.image-text.hth-share
            .image-container
                img(src=require("../../images/how-to-help/share-with-others.jpg"), alt="Share with others")
            .text-container
                h2.block-title Share with others
                p.text.
                    If you believe in our mission or know someone else who may have the desire,
                    knowledge or expertise, please help by increasing awareness of Diya Health.
                    Share our story with your friends. Together we can make the future brighter
                    for those in need and give everyone a fair chance for good health.
                .input-group
                    a.social-btn.fb(href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.diyahealth.org/" target="_blank")
                        i.icon-facebook
                        |Share
                    a.social-btn.twt(href="https://twitter.com/intent/tweet/?text=Diya%20Health%20Website&amp;url=https%3A%2F%2Fwww.diyahealth.org%2F" target="_blank")
                        i.icon-twitter
                        |Tweet
                    a.social-btn.lin(href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//www.diyahealth.org/&title=Diya%20Health%20Website&summary=Lighting%20the%20Path%20to%20a%20Healthier%20Future%20for%20All&source=https%3A//www.diyahealth.org/" target="_blank")
                        i.icon-linkedin
                        |Share
    article.primary-background-content(id="contact-us")
        +contactUs(organizationSizeOptions)
