extends ../shared/layout.pug

include ../shared/contact-us.pug
block content
    .our-blog
        .content-container
            article.content
                -
                    const bigContainer =[]
                    const mediumContainer =[]
                    const smallContainer =[]
                    
                        blog.forEach((x,index)=> {
                            if (index===0) {
                                bigContainer.push(x)
                            }
                            if (index>0 && index<=2) {
                                mediumContainer.push(x)
                            }

                            if (index>2) {
                                smallContainer.push(x)
                            }
                        })

                .blog-articles-content
                        .header-content-container 
                            h1 Our blog 
                        .big-container
                            each article in bigContainer
                                .content
                                    .container
                                        a(href=article.href)
                                            img.image(src=require(`../../images/blog/${article.image}`))
                                    .container-big-info
                                        if (article.tag)
                                            .tag
                                                .tagName=article.tag
                                        a(href=article.href)
                                            h2.font-weight-bold.articleMargin.title=article.title
                                        .date-time  
                                            span.date=article.date
                        .medium-container
                            each article in mediumContainer
                                .content
                                    .container
                                        a(href=article.href)
                                            img.image(src=require(`../../images/blog/${article.image}`), style=`object-position: ${article.alignment || 'initial'}`)
                                    .container-info.container-info-padding
                                        if (article.tag)
                                            .tag
                                                .tagName=article.tag
                                        a(href=article.href)
                                            h2.articleMargin.title=article.title
                                        .date-time  
                                            span.date=article.date
                                            span.time=article.timeToRead
                        .small-container
                                each article in smallContainer
                                    .content
                                        .container
                                            a(href=article.href)
                                                img.image(src=require(`../../images/blog/${article.image}`))
                                        .container-info
                                            if (article.tag)
                                                .tag
                                                    .tagName=article.tag
                                            a(href=article.href)
                                                h4.articleMargin.title=article.title
                                            .date-time  
                                                span.date=article.date
                                                span.time=article.timeToRead
        +contactUs(organizationSizeOptions)
