extends ../shared/layout.pug
include ../shared/contact-us.pug


block content
   block content
    main.main-box
        article.hr-image-container
            div.hr-image-container__text-box
                div.hr-image-container__title-text
                    img.hr-image-container__hr-logo(src=require("../../images/icons/diyahr-logo.svg") alt='logo HR')
                    p.hr-image-container__main-text
                        span COVID 
                        span Compilance 
                p.hr-image-container__subtitle-text Compliance-as-a-Service 
                button(type='button' class='hr-button hr-image-container__button-size') REQUEST A DEMO    
        article
        article.compliance-container
            div.compliance-container__left
                h2.compliance-container__title Complying with COVID-19 executive mandates — made easy!
                p.compliance-container__text Complying with COVID-19 executive mandates is complicated. When managing multiple HR systems and navigating ever-changing policies, avoiding hours of repetitive work is close to impossible. But, our HIPAA-compliant COVID Compliance platform makes it easy. Whether mandating vaccines or not, diyaHR COVID Compliance simplifies workplace safety — worldwide.
                button(type='button' class='hr-button compliance-container__title__button-size') WATCH VIDEO
            div.compliance-container__right
                div.compliance-container__image-box
        article.compliance-service  
            div.compliance-service__main-text
                h2.compliance-service__title Compliance-as-a-Service
                p.compliance-service__subtitle comprehensive platform is designed to meet your needs.
            div.compliance-service__service-items-box
                div.compliance-service__item
                    img.compliance-service__logo(src=require("../../images/employers/item1.png") alt='Description')
                    p.compliance-service__info COVID Compliance Experts
                div.compliance-service__item
                    img.compliance-service__logo(src=require("../../images/employers/item2.png") alt='Description')
                    p.compliance-service__info Easy, comprehensive & up-to-date process
                div.compliance-service__item
                    img.compliance-service__logo(src=require("../../images/employers/item3.png") alt='Description')
                    p.compliance-service__info System designed specifically for compliance
        article.getting-started
            h2.getting-started__title Getting Started is Easy
            div.getting-started__steps
                img.getting-started__steps-image(src=require("../../images/employers/steps_image.png") alt='Steps image')
            div.getting-started__items-box
                div.getting-started__item
                    img.getting-started__logo(src=require("../../images/employers/getting_item1.png") alt='Description')
                    p.getting-started__info Import employees’ information from your human capital management system
                div.getting-started__item
                    img.getting-started__logo(src=require("../../images/employers/getting_item2.png") alt='Description')
                    p.getting-started__info Send employees a notification to upload their COVID-19 status
                div.getting-started__item
                    img.getting-started__logo(src=require("../../images/employers/getting_item3.png") alt='Description')
                    p.getting-started__info View a real-time compliance dashboard
        article.slider-service  
        article.none-compilance 
            div.none-compilance__title-box
                h2.none-compilance__title Understand the Impactof Non-Compliance
            div.none-compilance__first-block
                div.none-compilance__content-block  
                    div.none-compilance__main-text
                        h3.none-compilance__title-text COVID-19 Non-Compliance
                        p.none-compilance__date As of Oct 1, 2021
                    div.none-compilance__sub-text
                        p.none-compilance__sub-text-title GLOBAL INC.
                        p.none-compilance__sub-text-count 10,000 Employees
                div.card-employees
                    img.card-employees__img(src=require("../../images/employers/employee1.png") alt='Employee-image')
                    p.card-employees__name Jane Barr
                    p.card-employees__position CEO
                    p.card-employees__count-members 10,000 Employees
                    div.card-employees__info
                        div.card-employees__left-part
                            p Unvaccinated:
                            p Total Cases:
                            p In-Office Cases:
                            p Training Completion:
                            p Policy Acknowledgement:
                        div.card-employees__right-part
                            p 13%
                            p 1,306
                            p 432
                            p 45%
                            p 53%
            div.none-compilance__arrows
                img.none-compilance__arrows-image(src=require("../../images/employers/arrows.png") alt='Arrows')
            div.none-compilance__others-employees
                div.card-employees
                    img.card-employees__img(src=require("../../images/employers/employee1.png") alt='Employee-image')
                    p.card-employees__name Jane Barr
                    p.card-employees__position CEO
                    p.card-employees__count-members 10,000 Employees
                    div.card-employees__info
                        div.card-employees__left-part
                            p Unvaccinated:
                            p Total Cases:
                            p In-Office Cases:
                            p Training Completion:
                            p Policy Acknowledgement:
                        div.card-employees__right-part
                            p 13%
                            p 1,306
                            p 432
                            p 45%
                            p 53%
                div.card-employees
                    img.card-employees__img(src=require("../../images/employers/employee1.png") alt='Employee-image')
                    p.card-employees__name Jane Barr
                    p.card-employees__position CEO
                    p.card-employees__count-members 10,000 Employees
                    div.card-employees__info
                        div.card-employees__left-part
                            p Unvaccinated:
                            p Total Cases:
                            p In-Office Cases:
                            p Training Completion:
                            p Policy Acknowledgement:
                        div.card-employees__right-part
                            p 13%
                            p 1,306
                            p 432
                            p 45%
                            p 53%
                div.card-employees
                    img.card-employees__img(src=require("../../images/employers/employee1.png") alt='Employee-image')
                    p.card-employees__name Jane Barr
                    p.card-employees__position CEO
                    p.card-employees__count-members 10,000 Employees
                    div.card-employees__info
                        div.card-employees__left-part
                            p Unvaccinated:
                            p Total Cases:
                            p In-Office Cases:
                            p Training Completion:
                            p Policy Acknowledgement:
                        div.card-employees__right-part
                            p 13%
                            p 1,306
                            p 432
                            p 45%
                            p 53%
                div.card-employees
                    img.card-employees__img(src=require("../../images/employers/employee1.png") alt='Employee-image')
                    p.card-employees__name Jane Barr
                    p.card-employees__position CEO
                    p.card-employees__count-members 10,000 Employees
                    div.card-employees__info
                        div.card-employees__left-part
                            p Unvaccinated:
                            p Total Cases:
                            p In-Office Cases:
                            p Training Completion:
                            p Policy Acknowledgement:
                        div.card-employees__right-part
                            p 13%
                            p 1,306
                            p 432
                            p 45%
                            p 53%
        article.details-container
            h2.details-container__title We Take Care of the Details
            div.details-container__content
                div.details-container__left
                   img.details-container__alert(src=require("../../images/employers/alert1.png") alt='Alert')
                   img.details-container__img(src=require("../../images/employers/details1.png") alt='Details')
                   h3.details-container__subtitle Automated reminders for non-compliant employees
                   p.details-container__text Send automated reminders to non-compliant employees and, optionally, their management.
                div.details-container__right
                   img.details-container__alert(src=require("../../images/employers/alert2.png") alt='Alert')
                   img.details-container__img(src=require("../../images/employers/details2.png") alt='Details')
                   h3.details-container__subtitle Ensure adherence to travel policies
                   p.details-container__text Keep your employees informed about changing requirements for domestic and international travel, without the tedious research.
        article.return-to-work-container
            h2.return-to-work-container__title Return-to-work safely
            p.return-to-work-container__subtitle Know employees have taken the proper health and safety precautions to return to in-person work.
            div.return-to-work-container__content
                div.return-to-work-container__left
                   img.return-to-work-container__img-1(src=require("../../images/employers/return-to-work1.png") alt='Return')
                div.return-to-work-container__right
                   img.return-to-work-container__img-2(src=require("../../images/employers/return-to-work2.png") alt='Return')
        article.future-proof  
            div.future-proof__main-text
                h2.future-proof__title Future Proof
                p.future-proof__subtitle No matter how the virus mutates; new booster shots arrive; CDC, federal and state guidelines change; and CEOs adjust corporate mandates — HR can be rest assured that diyaHR COVID Compliance will adapt to their needs.
                h3.future-proof__guarantee 100% Guaranteed
            div.future-proof__service-items-box
                div.future-proof__item
                    img.future-proof__logo(src=require("../../images/employers/proof1.png") alt='Proof')
                    p.future-proof__info Built by scientists and physicians
                div.future-proof__item
                    img.future-proof__logo(src=require("../../images/employers/proof2.png") alt='Proof')
                    p.future-proof__info Built by accomplished engineers and AI experts
                div.future-proof__item
                    img.future-proof__logo(src=require("../../images/employers/proof3.png") alt='Proof')
                    p.future-proof__info Configurable, powerful engine
        article.hippa-container  
            div.hippa-container__main-text
                h2.hippa-container__title HIPAA-Compliant
               
            div.hippa-container__service-items-box
                div.hippa-container__item
                    img.hippa-container__logo(src=require("../../images/employers/illustration1.png") alt='illustration')
                    h3.hippa-container__info Safe Log-In
                    ul.hippa-container__list 
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text 100% encryption
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text Immutable audit trail of all activity
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text Stored on the most secure cloud systems, not devices
                div.hippa-container__item
                    img.hippa-container__logo(src=require("../../images/employers/illustration2.png") alt='illustration')
                    h3.hippa-container__info Protected Access to Information
                    ul.hippa-container__list 
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text No data is shared or sold
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text You are in control of your data (If you want your data deleted,we delete it)
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text No advertising on our platform
                div.hippa-container__item
                    img.hippa-container__logo(src=require("../../images/employers/illustration3.png") alt='illustration')
                    h3.hippa-container__info Secure Information Storage
                    ul.hippa-container__list 
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text Single sign-on
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text Multi-factor authentication
                        li.hippa-container__list-item
                          img.hippa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                          span.hippa-container__item-text Security alerts for unauthorized access
        article.download-container  
            div.download-container__main-text
                h2.download-container__title Download our product details for free!
                button(type='button' class='hr-button download-container__button-size') DOWNLOAD
        article.contact-us-background-content.anchor(id="contact-us")
        +contactUs(organizationSizeOptions)  

          
                
                   

