extends ../shared/layout.pug
include ../shared/contact-us-form.pug
include ../shared/customers.pug
include ../shared/integrations.pug
include ../shared/youtube-popup.pug
include ../shared/integrationTable.pug
include ../shared/help-popup.pug
include ../shared/integration-features.pug
include ../shared/pricing-features.pug

mixin pricingCartPerkItem(name)
    li.pricing-card__perks-item
        img.pricing-card__perks-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
        span=name 

mixin featureListItem(name, helpIndex)
    li.pricing-container__features-list-item
        img.pricing-card__perks-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
        span=name
        .closest(data-help=helpIndex)
            .help-wrapper
                +helpPopupBody
            img.pricing-container__features-item-logo(src=require("../../images/icons/question.svg") alt='check')

mixin featureTableItem(name, helpIndex)
    li.pricing-container__features-list-item
        span=name
        .closest(data-help=helpIndex)
            .help-wrapper
                +helpPopupBody
            img.pricing-container__features-item-logo(src=require("../../images/icons/question.svg") alt='check')


block content
    -
        const dataIntegrations = [
                'BambooHR',
                'ADP',
                'Oracle',
                'Excel',
                'Workday',
                'OfficeWork',
                'SAP',
                'SuccessFactors',
                'Cornerstone',
                'Epic',
                'Cerner',
                'Kaiser Permanente',
                'NIH',
                'DrugBank',
        ];

        const popups = [
                'good for you',
                'good for you d fsdf dsfsdfs',
                ' d fsdf dsfsdfs',
                'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempo',
                'Ecepteur sint occaecat cupidatat non proident, sunt in culpa ',
                'OfficeWork',
                'nisi ut aliquip ex ea commodo consequat',
                'nisi ut ',
                'Cornerstone',
                'Epic',
                'Cerner',
                'Kaiser Permanente',
                'NIH',
                'DrugBank',
                'nisi ut aliquip ex ea commodo consequat',
                'nisi ut ',
                'Cornerstone',
                'Epic',
                'Cerner',
                'Kaiser Permanente',
                'NIH',
                'DrugBank',
        ];
    main.main-box.employers-sales

        article.hr-image-container
            .hr-image-container__omicron-text-box-hidden
                
                span.hr-image-container__omicron-text Omicron Variant Protection
            .hr-image-container__omicron-text-box
                img.hr-image-container__omicron-background(src=require("../../images/employers/notice.svg") alt='Processes to get back to work safely')
                span.hr-image-container__omicron-text Omicron Variant Protection
            .hr-image-container__text-box
                h1.hr-image-container__subtitle-text COVID Compliance-as-a-Service
                span.hr-image-container__common-text Return to Work Made Easy
                button.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') 
                    span.label Request a demo

        article.compliance-container
            .compliance-container__left
                .compliance-container__title
                    h2 Complying with OSHA’s Jan. 10 deadline – made easy
                    +youtubeLink('VHEj018WfUY')
                p.compliance-container__text.
                    Protecting your employees against the Omicron Variant while staying compliant with COVID-19 mandates is complicated.
                    Juggling multiple HR systems makes proper tracking of employees' vaccination status and test results nearly impossible 

                p.compliance-container__text.
                   But, our platform – which includes a real-time dashboard and digital health pass – makes it easy.
                   COVID Compliance-as-a-Service ensures a safe workplace, worldwide.

            .compliance-container__right
                .compliance-container__image-box

        +customers('lift-up')


        article.compliance-service
            .inner
                h2 COVID Compliance-as-a-Service
                p.compliance-service__subtitle Our comprehensive platform is designed to continuously meet COVID-19 requirements
                .compliance-service__service-items-box
                    .compliance-service__item
                        img.compliance-service__logo(src=require("../../images/employers/icon1.svg") alt='Experts in pandemic compliance')
                        p COVID Compliance Experts
                    .compliance-service__item
                        img.compliance-service__logo(src=require("../../images/employers/icon2.svg") alt='Processes to get back to work safely')
                        p Easy, comprehensive & up-to-date process
                    .compliance-service__item
                        img.compliance-service__logo(src=require("../../images/employers/icon3.svg") alt='Technology designed specifically for compliance')
                        p System designed specifically for compliance


        article.getting-started
            .getting-started__title
                h2 Getting Started is Easy
                +youtubeLink('IgQOlkJVQNg')
            .container
                .getting-started__steps
                    .getting-started__step
                        .step
                            .circle-number 1
                            .line-right
                        .content
                            .logo
                                img(src=require("../../images/employers/getting_item1.png") alt='Import from human capital management system')
                            p.info Import employees’ information from your human capital management system
                    .getting-started__step
                        .step
                            .arrow
                            .line-left
                            .circle-number 2
                            .line-right
                        .content
                            .logo
                                img(src=require("../../images/employers/getting_item2.png") alt='Upload COVID-19 status')
                            p.info Send employees a notification to upload their COVID-19 status
                    .getting-started__step
                        .step
                            .arrow
                            .line-left
                            .circle-number 3
                        .content
                            .logo
                                img(src=require("../../images/employers/getting_item3.png") alt='A real-time compliance dashboard')
                            p.info View a real-time compliance dashboard


        article.slider-service
            .inner
                h2.slider-service__title A Real-Time, Comprehensive Compliance Dashboard

                .carousel-container#dashboard-carousel
                    ol.indicators-container
                        li.indicator.active
                        li.indicator
                        li.indicator
                        li.indicator
                    .carousel-control.left
                        img.icon(src=require("../../images/employers/arrow-left.svg"), alt="Left")
                    .carousel-control.right
                        img.icon(src=require("../../images/employers/arrow-right.svg"), alt="Right")
                    .content-container
                        .carousel-image-container
                            .carousel-image-wrapper
                                .carousel-image-background.dashboard-carousel-bg-1.active
                                .carousel-image-background.dashboard-carousel-bg-2
                                .carousel-image-background.dashboard-carousel-bg-3
                                .carousel-image-background.dashboard-carousel-bg-4

                        ul.text-container
                            li.carousel-item-container.active
                                h3.title Use company-wide compliance statistics to guide your corporate policy
                                p.text Track employees’ vaccination status, booster shots, and test results by location in order to form the most effective corporate policy and protect against the Omicron Variant.
                                +youtubeLink('WO8uNw5Fp4A')
                            li.carousel-item-container
                                h3.title Examine compliance by department
                                p.text Track compliance by specific departments at any office location to ensure a safe return to work
                                +youtubeLink('WO8uNw5Fp4A')
                            li.carousel-item-container
                                h3.title Access the details you need
                                p.text View COVID-19 compliance by manager and individual employee
                                +youtubeLink('WO8uNw5Fp4A')
                            li.carousel-item-container
                                h3.title Analyze how much non-compliance is costing you
                                p.text See how non-compliant employees are impacting productivity, sick days, backfill and more
                                +youtubeLink('WO8uNw5Fp4A')


        article.none-compliance
            .none-compliance__title-box
                .none-compliance__title
                    h2 Understand the Impact of Non&#8209;Compliance
                    +youtubeLink('zja1cGin3qY')
            .none-compliance__first-block
                .none-compliance__content-block
                    .none-compliance__main-text
                        h3.none-compliance__title-text COVID-19 Compliance
                    .none-compliance__sub-text
                        p.none-compliance__sub-text-title GLOBAL INC.
                        p.none-compliance__sub-text-count 10,000 Employees
                .root-card-wrapper
                    .card-employees.warning
                        img.card-employees__img(src=require("../../images/employers/employee1.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Jane Barr
                            p.card-employees__position CEO
                            p.card-employees__count-members 10,000 Employees
                        .card-employees__info
                            .card-employees__left-part
                                .card-employees__item
                                    p Unvaccinated:
                                    p.card-employees__data 13%
                                .card-employees__item
                                    p Total Cases:
                                    p.card-employees__data 1,306
                                .card-employees__item
                                    p In-Office Cases:
                                    p.card-employees__data 432
                                .card-employees__item
                                    p Training Completion:
                                    p.card-employees__data 45%
                                .card-employees__item
                                    p Policy Acknowledgement:
                                    p.card-employees__data 53%
                       
            .none-compliance__others-employees
                .wrapper
                    .line-left.tablet-only
                    .line-right
                    .card-employees.horizontal
                        .arrow
                        img.card-employees__img(src=require("../../images/employers/employee5.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Matt Smith
                            p.card-employees__position SVP, Accounting
                            p.card-employees__count-members 1,500 Employees
                        .card-employees__info
                            .card-employees__left-part
                                .card-employees__item
                                    p Unvaccinated:
                                    p.card-employees__data 8%
                                .card-employees__item
                                    p Total Cases:
                                    p.card-employees__data 96
                                .card-employees__item
                                    p In-Office Cases:
                                    p.card-employees__data 32
                                .card-employees__item
                                    p Training Completion:
                                    p.card-employees__data 52%
                                .card-employees__item
                                    p Policy Acknowledgement:
                                    p.card-employees__data 63%
                .wrapper
                    .line-left
                    .line-right
                    .card-employees.horizontal
                        .arrow
                        img.card-employees__img(src=require("../../images/employers/employee2.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Aaron Garcia
                            p.card-employees__position SVP, Sales
                            p.card-employees__count-members 2,000 Employees
                        .card-employees__info
                            .card-employees__left-part
                                .card-employees__item
                                        p Unvaccinated:
                                        p.card-employees__data 9%
                                .card-employees__item
                                        p Total Cases:
                                        p.card-employees__data 120
                                .card-employees__item
                                        p In-Office Cases:
                                        p.card-employees__data 40
                                .card-employees__item
                                        p Training Completion:
                                        p.card-employees__data 47%
                                .card-employees__item
                                        p Policy Acknowledgement:
                                        p.card-employees__data 54%          
                            
                .wrapper
                    .line-left
                    .line-right
                    .card-employees.horizontal
                        .arrow
                        img.card-employees__img(src=require("../../images/employers/employee3.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Tiffany Lee
                            p.card-employees__position SVP, Advertising
                            p.card-employees__count-members 2,500 Employees
                        
                        .card-employees__info
                            .card-employees__left-part
                                .card-employees__item
                                        p Unvaccinated:
                                        p.card-employees__data 5%
                                .card-employees__item
                                        p Total Cases:
                                        p.card-employees__data 100
                                .card-employees__item
                                        p In-Office Cases:
                                        p.card-employees__data 33
                                .card-employees__item
                                        p Training Completion:
                                        p.card-employees__data 73%
                                .card-employees__item
                                        p Policy Acknowledgement:
                                        p.card-employees__data 78% 
                        
                .wrapper
                    .line-left
                    .card-employees.warning.horizontal
                        .arrow
                        img.card-employees__img(src=require("../../images/employers/employee4.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Ed James
                            p.card-employees__position SVP, Manufacturing
                            p.card-employees__count-members 4,000 Employees
                        
                        .card-employees__info
                            .card-employees__left-part
                                .card-employees__item
                                        p Unvaccinated:
                                        p.card-employees__data 30%
                                .card-employees__item
                                        p Total Cases:
                                        p.card-employees__data 990
                                .card-employees__item
                                        p In-Office Cases:
                                        p.card-employees__data 327
                                .card-employees__item
                                        p Training Completion:
                                        p.card-employees__data 11%
                                .card-employees__item
                                        p Policy Acknowledgement:
                                        p.card-employees__data 18%
                       
        article.details-container
            .inner
                h2.details-container__title We Take Care of the Details
                .details-container__content
                    .details-container__left
                        img.details-container__alert(src=require("../../images/employers/alert1.png") alt='Submit test result alert')
                        img.details-container__img(src=require("../../images/employers/details1.png") alt='Application with notification')
                        h3.details-container__subtitle Automated reminders for non-compliant employees
                        p.details-container__text Send automated reminders to non-compliant employees and, optionally, their management
                    .details-container__right
                        img.details-container__alert(src=require("../../images/employers/alert2.png") alt='Travel restrictions lifted alert')
                        img.details-container__img(src=require("../../images/employers/details2.png") alt='Application with guidance')
                        h3.details-container__subtitle Ensure adherence to travel policies
                        p.details-container__text Keep your employees informed about changing COVID-19 travel requirements for domestic and international travel — without the tedious research


        article.return-to-work-container
            h2.return-to-work-container__title Return to Work Safely
            p.return-to-work-container__subtitle Know that employees have taken the proper health and safety precautions to get back to work
            .return-to-work-container__content
                .return-to-work-container__left
                   img.return-to-work-container__img-1(src=require("../../images/employers/return-to-work1.png") alt='Employees back to work')
                .return-to-work-container__right
                   img.return-to-work-container__img-2(src=require("../../images/employers/return-to-work2.png") alt='COVID-19 Compliance status')


        article.future-proof
            .inner
                .future-proof__main-text
                    h2.future-proof__title Future Proof
                    +youtubeLink('U0whaQW2XQ0')
                    p.future-proof__subtitle  No matter how the virus mutates; new booster shots arrive; CDC, federal and state regulations change; and CEOs adjust corporate mandates — HR can rest assured that COVID Compliance-as-a-Service will adapt to their needs
                    h3.future-proof__guarantee 100% Guaranteed
                .future-proof__service-items-box
                    .future-proof__item
                        img.future-proof__logo(src=require("../../images/employers/icon4.svg") alt='Scientists and physicians icon')
                        p.future-proof__info Built by scientists and physicians
                    .future-proof__item
                        img.future-proof__logo(src=require("../../images/employers/icon5.svg") alt='AI experts icon')
                        p.future-proof__info Built by accomplished engineers and AI experts
                    .future-proof__item
                        img.future-proof__logo(src=require("../../images/employers/icon6.svg") alt='configurable engine icon')
                        p.future-proof__info Configurable, powerful engine


        article.hipaa-container
            .hipaa-container__main-text
                h2.hipaa-container__title HIPAA-Compliant
            .hipaa-container__service-items-box
                .hipaa-container__item
                    img.hipaa-container__logo(src=require("../../images/employers/illustration1.png") alt='illustration')
                    .text
                        h3.hipaa-container__info Safe Log-In
                        ul.hipaa-container__list 
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text 100% encryption
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Immutable audit trail of all activity
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Stored on the most secure cloud systems, not devices
                .hipaa-container__item
                    img.hipaa-container__logo(src=require("../../images/employers/illustration2.png") alt='illustration')
                    .text 
                        h3.hipaa-container__info Protected Access to Information
                        ul.hipaa-container__list 
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text No data are shared or sold
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text You are in control of your data (If you want your data deleted,we delete it)
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text No advertising on our platform
                .hipaa-container__item
                    img.hipaa-container__logo(src=require("../../images/employers/illustration3.png") alt='illustration')
                    .text
                        h3.hipaa-container__info Secure Information Storage
                        ul.hipaa-container__list 
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Single sign-on
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Multi-factor authentication
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png" ) alt='check') 
                                span.hipaa-container__item-text Security alerts for unauthorized access

        article.pricing-container
            .pricing-container__main-text
                    h2.pricing-container__title Pricing
            .pricing-container__pricing-card-box
                .pricing-card
                    .pricing-card__title Essential
                    .pricing-card__subtitle For organizations that are looking to manage vaccination records and test results in a HIPAA-compliant manner.
                    .pricing-card__subscribe-price-box
                        .pricing-card__price-box
                            .pricing-card__price-first
                                s $0.50
                                .pricing-card__mobile-info.activate
                                    span Per employee / month billed annually
                            .pricing-card__info
                                span Free for a limited time 
                        .pricing-card__describe-price
                            span Per employee / month billed annually
                    button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') 
                        .label GET STARTED
                    ul.pricing-card__perks-list
                        +pricingCartPerkItem('OSHA-compliant')
                        +pricingCartPerkItem('HIPAA-compliant')
                        +pricingCartPerkItem('Vaccination tracking')
                        +pricingCartPerkItem('Test results tracking')
                        +pricingCartPerkItem('Booster shot tracking')
                        +pricingCartPerkItem('Up to 250 employees')
                    ul.pricing-container__features-list.activate
                        +featureListItem('OSHA-compliant', 0)
                        +featureListItem('HIPAA-compliant', 1)
                        +featureListItem('Vaccination tracking', 2)
                        +integrationFeatures
                            +featureListItem('Test results tracking', 3)
                            +featureListItem('Booster shot tracking', 4)
                            +featureListItem('Up to 250 employees', 5)
                .pricing-card
                    .pricing-card__title Professional
                    .pricing-card__subtitle For organizations that also need reporting and time & efficiency gain features for HR.
                    .pricing-card__subscribe-price-box
                        .pricing-card__price-box
                            .pricing-card__price-first
                                span.pricing-card__price-color $2
                                .pricing-card__mobile-info.activate
                                    span Per employee / month billed annually
                                
                        .pricing-card__describe-price
                            span Per employee / month billed annually
                    button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                        .label BUY PROFESSIONAL 
                    ul.pricing-card__perks-list
                        +pricingCartPerkItem('OSHA-compliant')
                        +pricingCartPerkItem('HIPAA-compliant')
                        +pricingCartPerkItem('Vaccination tracking')
                        +pricingCartPerkItem('Test results tracking')
                        +pricingCartPerkItem('Booster shot tracking')
                        +pricingCartPerkItem('Unlimited number of employees')
                    ul.pricing-container__features-list.activate
                        +featureListItem('OSHA-compliant', 0)
                        +featureListItem('HIPAA-compliant', 1)
                        +featureListItem('Vaccination tracking', 2)
                        +integrationFeatures
                            +featureListItem('Test results tracking', 3)
                            +featureListItem('Booster shot tracking', 4)
                            +featureListItem('Up to 250 employees', 5)
                            +featureListItem('Symptom tracking', 6)
                            +featureListItem('Policy attestations', 7)
                            +featureListItem('COVID Pass', 8)
                            +featureListItem('Dashboard & analytics', 9)
                            +featureListItem('Reminders for record submission', 10)
                            +featureListItem('HCM integrations', 11)
                .pricing-container__special-box
                    .pricing-container__most-popular
                        span Most popular 
                    .pricing-card.pricing-container__borders
                        .pricing-card__title Enterprise
                        .pricing-card__subtitle For corporations that need to support multi-state or multi-national compliance policies, and require advanced reporting & analytics.
                        .pricing-card__subscribe-price-box
                        .pricing-card__price-box
                            .pricing-card__price-first
                                span.pricing-card__price-color $3
                                .pricing-card__mobile-info.activate
                                    span Per employee / month billed annually
                            
                        .pricing-card__describe-price
                            span Per employee / month billed annually
                        button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                            .label BUY ENTERPRISE
                        ul.pricing-card__perks-list
                            +pricingCartPerkItem('OSHA-compliant')
                            +pricingCartPerkItem('HIPAA-compliant')
                            +pricingCartPerkItem('Vaccination tracking')
                            +pricingCartPerkItem('Test results tracking')
                            +pricingCartPerkItem('Booster shot tracking')
                            +pricingCartPerkItem('Unlimited number of employees')
                        ul.pricing-container__features-list.activate
                            +featureListItem('OSHA-compliant', 0)
                            +featureListItem('HIPAA-compliant', 1)
                            +featureListItem('Vaccination tracking', 2)
                            +integrationFeatures
                                +featureListItem('Test results tracking', 3)
                                +featureListItem('Booster shot tracking', 4)
                                +featureListItem('Number of employees', 5)
                                +featureListItem('Symptom tracking', 6)
                                +featureListItem('Policy attestations', 7)
                                +featureListItem('COVID Pass', 8)
                                +featureListItem('Dashboard & analytics', 9)
                                +featureListItem('Reminders for record submission', 10)
                                +featureListItem('HCM integrations', 11)
                                +featureListItem('Scheduled & automated reminders', 12)
                                +featureListItem('Automated HCM sync', 13)
                                +featureListItem('Customizable dashboard & analytics', 14)
                                +featureListItem('Pandemic travel support', 15)
                                +featureListItem('COVID-19 compliance future proofing', 16)
                                +featureListItem('COVID-19 expert consults', 17)
                                +featureListItem('Corporate policy guidance', 18)
                                +featureListItem('Corporate policy implementation', 19)
                                +featureListItem('Automated alerts for non-compliance', 20)
                                +featureListItem('Integration with time & attendance system', 21)
                                +featureListItem('Integration with testing labs', 22)

            +integrationTable(true)
                    .pricing-container__table-box 
                        table.pricing-container__table
                            tr 
                                th.pricing-container__width 
                                th.pricing-container__border-right.pricing-container__common-width   Essential
                                th.pricing-container__border-right.pricing-container__common-width Professional
                                th.pricing-container__enterprise.pricing-container__common-width  Enterprise
                            tr
                                td
                                    ul.pricing-container__features-list
                                        +featureTableItem('OSHA-compliant', 0)
                                        +featureTableItem('HIPAA-compliant', 1)
                                        +featureTableItem('Vaccination tracking', 2)
                                        +featureTableItem('Test results tracking', 3)
                                        +featureTableItem('Booster shot tracking', 4)
                                        +featureTableItem('Number of employees', 5)
                                td
                                    ul.pricing-container__arrows-list
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            span.pricing-container__number-employees-text Up to 250
                                    

                                td.pricing-container__border-left-right 
                                    ul.pricing-container__arrows-list
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            span.pricing-container__number-employees-text Unlimited

                                td.pricing-container__background  
                                    ul.pricing-container__arrows-list
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            span.pricing-container__number-employees-text Unlimited
                            tr
                                td 
                                    ul.pricing-container__features-list
                                        +featureTableItem('Symptom tracking', 6)
                                        +featureTableItem('Policy attestations', 7)
                                        +featureTableItem('COVID Pass', 8)
                                        +featureTableItem('Dashboard & analytics', 9)
                                        +featureTableItem('Reminders for record submission', 10)
                                        +featureTableItem('HCM integrations', 11)
                                td  
                                td.pricing-container__border-left-right 
                                    ul.pricing-container__arrows-list
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')    
                                td.pricing-container__background 
                                    ul.pricing-container__arrows-list
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check') 
                            tr.pricing-container__last-row
                                td
                                    ul.pricing-container__features-list
                                        +featureTableItem('Scheduled & automated reminders', 12)
                                        +featureTableItem('Automated HCM sync', 13)
                                        +featureTableItem('Customizable dashboard & analytics', 14)
                                        +featureTableItem('Pandemic travel support', 15)
                                        +featureTableItem('COVID-19 compliance future proofing', 16)
                                        +featureTableItem('COVID-19 expert consults', 17)
                                        +featureTableItem('Corporate policy guidance', 18)
                                        +featureTableItem('Corporate policy implementation', 19)
                                        +featureTableItem('Automated alerts for non-compliance', 20)
                                        +featureTableItem('Integration with time & attendance system', 21)
                                        +featureTableItem('Integration with testing labs', 22)
                                td  
                                td.pricing-container__border-left-right 
                                td.pricing-container__background 
                                    ul.pricing-container__arrows-list
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item.pricing-container__change-margin
                                            img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                        li.pricing-container__arrows-list-item.pricing-container__change-margin
                                            button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                                                .label Contact US
                                        li.pricing-container__arrows-list-item.pricing-container__change-margin
                                            button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                                                .label Contact US
                                        li.pricing-container__arrows-list-item
                                            button.button-mobile-settings.material-btn.compliance-container__title__button-size(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                                                .label Contact US

        article.integrations
            h2 Integrations
            +integrations(true,dataIntegrations)
        article.download-container
            .inner
                .download-container__main-text
                    h2.download-container__title Download our product details for free!
                    a(href='./files/Diya COVID CaaS Presentation.pdf' class='material-btn compliance-container__title__button-size' target="__blank") 
                        .label DOWNLOAD


        article.contact-us-container(id="contact-us")
            .title 
                h2 Contact Us
                p.text.
                    Haven't found the answer to your question? Interested in learning more about pricing? Requesting a demo?
                    Contact us and we will get back to you shortly.
            .content
                +contactUsForm(organizationSizeOptions)

        +youtubePopup
        +helpPopup([
            'Ensures compliance with OSHA\'s vaccination and testing mandate',
            'Meets HIPAA privacy and security requirements',
            'Easy upload, secure storage, and tracking of COVID-19 vaccination records',
            'Easy upload, secure storage, and tracking of COVID-19 test results',
            'Easy upload, secure storage, and tracking of COVID-19 booster shots',
            'The number of employees that can be hosted on the platform at one time',
            'Daily symptom questionnaire and tracking of responses',
            'Acknowledgement of company rules, policies, and procedures',
            'Scannable QR code for entry into workplace facilities',
            'Real-time tracking and compliance data displayed holistically, by office location, and by department',
            'Email and SMS notifications to upload records, read new policies, and more',
            'API integration with any human capital management system',
            'Email and SMS notifications that can be scheduled ahead of time and managed by the Diya team',
            'Full automation and updates of human capital management data, including the employee roster',
            'Dashboard data parameters are customized to your company\'s needs and policies',
            'Automated employee travel support, including domestic and international travel requirements',
            '100% guarantee that your company will stay in compliance, no matter what rules change',
            'Consultations with COVID-19 policy experts',
            'Guidance on adapting corporate policies to meet compliance requirements',
            'Guidance on corporate policy implementation, including timeline, communication material, and more',
            'Automated alerts to HR when an employee is non-compliant',
            'Integrate the COVID Pass with any time and attendance system',
            'Integrate with your chosen testing centers for automated upload of employees\' test results',
        ])
        +pricingFeatures


block script
    script.
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('dashboard-carousel', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    script(src="https://www.google.com/recaptcha/api.js", defer)   
    

