extends ../shared/layout.pug
include ../shared/contact-us-form.pug
include ../shared/customers.pug
include ../shared/integrations.pug
include ../shared/youtube-popup.pug


block content
    -
        const dataIntegrations = [
                'BambooHR',
                'ADP',
                'Oracle',
                'Excel',
                'Workday',
                'OfficeWork',
                'SAP',
                'SuccessFactors',
                'Cornerstone',
                'Epic',
                'Cerner',
                'Kaiser Permanente',
                'NIH',
                'DrugBank',
        ];
    main.main-box.employers-sales

        article.hr-image-container
            button.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') 
                span.label Request a demo
            .hr-image-container__text-box
                h1.hr-image-container__subtitle-text COVID Compliance-as-a-Service
                p.hr-image-container__subtitle-text Return to Work Made Easy

        article.compliance-container
            .compliance-container__left
                .compliance-container__title
                    h2 Compliance with COVID-19 regulatory requirements — made easy!
                    +youtubeLink('VHEj018WfUY')
                p.compliance-container__text.
                    Planning a safe return to work while staying compliant with COVID-19 mandates
                    is complicated. When juggling multiple HR systems, properly tracking employees’
                    vaccination status and test results is nearly impossible. 

                p.compliance-container__text.
                   But, our platform — which includes a real-time dashboard
                   and digital health pass — makes it easy.
                   Whether mandating vaccines or not, COVID Compliance-as-a-Service
                   ensures a safe workplace — worldwide.

            .compliance-container__right
                .compliance-container__image-box

        +customers('lift-up')


        article.compliance-service
            .inner
                h2 COVID Compliance-as-a-Service
                p.compliance-service__subtitle Our comprehensive platform is designed to continuously meet COVID-19 requirements
                .compliance-service__service-items-box
                    .compliance-service__item
                        img.compliance-service__logo(src=require("../../images/employers/item1.png") alt='Experts in pandemic compliance')
                        p COVID Compliance Experts
                    .compliance-service__item
                        img.compliance-service__logo(src=require("../../images/employers/item2.png") alt='Processes to get back to work safely')
                        p Easy, comprehensive & up-to-date process
                    .compliance-service__item
                        img.compliance-service__logo(src=require("../../images/employers/item3.png") alt='Technology designed specifically for compliance')
                        p System designed specifically for compliance


        article.getting-started
            .getting-started__title
                h2 Getting Started is Easy
                +youtubeLink('IgQOlkJVQNg')
            .container
                .getting-started__steps
                    .getting-started__step
                        .step
                            .circle-number 1
                            .line-right
                        .content
                            .logo
                                img(src=require("../../images/employers/getting_item1.png") alt='Import from human capital management system')
                            p.info Import employees’ information from your human capital management system
                    .getting-started__step
                        .step
                            .arrow
                            .line-left
                            .circle-number 2
                            .line-right
                        .content
                            .logo
                                img(src=require("../../images/employers/getting_item2.png") alt='Upload COVID-19 status')
                            p.info Send employees a notification to upload their COVID-19 status
                    .getting-started__step
                        .step
                            .arrow
                            .line-left
                            .circle-number 3
                        .content
                            .logo
                                img(src=require("../../images/employers/getting_item3.png") alt='A real-time compliance dashboard')
                            p.info View a real-time compliance dashboard


        article.slider-service
            .inner
                h2.slider-service__title A Real-Time, Comprehensive Compliance Dashboard

                .carousel-container#dashboard-carousel
                    ol.indicators-container
                        li.indicator.active
                        li.indicator
                        li.indicator
                        li.indicator
                    .carousel-control.left
                        img.icon(src=require("../../images/employers/arrow-left.svg"), alt="Left")
                    .carousel-control.right
                        img.icon(src=require("../../images/employers/arrow-right.svg"), alt="Right")
                    .content-container
                        .carousel-image-container
                            .carousel-image-wrapper
                                .carousel-image-background.dashboard-carousel-bg-1.active
                                .carousel-image-background.dashboard-carousel-bg-2
                                .carousel-image-background.dashboard-carousel-bg-3
                                .carousel-image-background.dashboard-carousel-bg-4

                        ul.text-container
                            li.carousel-item-container.active
                                h3.title View company-wide COVID-19 compliance statistics
                                p.text Whether your company tracks vaccination status or test results, COVID Compliance-as-a-Service provides the relevant compliance data by location
                                +youtubeLink('WO8uNw5Fp4A')
                            li.carousel-item-container
                                h3.title Examine compliance by department
                                p.text Track compliance by specific departments at any office location to ensure a safe return to work
                                +youtubeLink('WO8uNw5Fp4A')
                            li.carousel-item-container
                                h3.title Access the details you need
                                p.text View COVID-19 compliance by manager and individual employee
                                +youtubeLink('WO8uNw5Fp4A')
                            li.carousel-item-container
                                h3.title Analyze how much non-compliance is costing you
                                p.text See how non-compliant employees are impacting productivity, sick days, backfill and more
                                +youtubeLink('WO8uNw5Fp4A')


        article.none-compliance
            .none-compliance__title-box
                .none-compliance__title
                    h2 Understand the Impact of Non-Compliance
                    +youtubeLink('zja1cGin3qY')
            .none-compliance__first-block
                .none-compliance__content-block
                    .none-compliance__main-text
                        h3.none-compliance__title-text COVID-19 Compliance
                        p.none-compliance__date As of Oct 1, 2021
                    .none-compliance__sub-text
                        p.none-compliance__sub-text-title GLOBAL INC.
                        p.none-compliance__sub-text-count 10,000 Employees
                .root-card-wrapper
                    .card-employees.warning
                        img.card-employees__img(src=require("../../images/employers/employee1.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Jane Barr
                            p.card-employees__position CEO
                            p.card-employees__count-members 10,000 Employees
                        .card-employees__info
                            .card-employees__left-part
                                p Unvaccinated:
                                p Total Cases:
                                p In-Office Cases:
                                p Training Completion:
                                p Policy Acknowledgement:
                            .card-employees__right-part
                                p 13%
                                p 1,306
                                p 432
                                p 45%
                                p 53%
            .none-compliance__others-employees
                .wrapper
                    .line-left.tablet-only
                    .line-right
                    .card-employees.horizontal
                        .arrow
                        img.card-employees__img(src=require("../../images/employers/employee5.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Matt Smith
                            p.card-employees__position SVP, Accounting
                            p.card-employees__count-members 1,500 Employees
                        .card-employees__info
                            .card-employees__left-part
                                p Unvaccinated:
                                p Total Cases:
                                p In-Office Cases:
                                p Training Completion:
                                p Policy Acknowledgement:
                            .card-employees__right-part
                                p 8%
                                p 96
                                p 32
                                p 52%
                                p 63%
                .wrapper
                    .line-left
                    .line-right
                    .card-employees.horizontal
                        .arrow
                        img.card-employees__img(src=require("../../images/employers/employee2.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Aaron Garcia
                            p.card-employees__position SVP, Sales
                            p.card-employees__count-members 2,000 Employees
                        .card-employees__info
                            .card-employees__left-part
                                p Unvaccinated:
                                p Total Cases:
                                p In-Office Cases:
                                p Training Completion:
                                p Policy Acknowledgement:
                            .card-employees__right-part
                                p 9%
                                p 120
                                p 40
                                p 47%
                                p 54%
                .wrapper
                    .line-left
                    .line-right
                    .card-employees.horizontal
                        .arrow
                        img.card-employees__img(src=require("../../images/employers/employee3.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Tiffany Lee
                            p.card-employees__position SVP, Advertising
                            p.card-employees__count-members 2,500 Employees
                        .card-employees__info
                            .card-employees__left-part
                                p Unvaccinated:
                                p Total Cases:
                                p In-Office Cases:
                                p Training Completion:
                                p Policy Acknowledgement:
                            .card-employees__right-part
                                p 5%
                                p 100
                                p 33
                                p 73%
                                p 78%
                .wrapper
                    .line-left
                    .card-employees.warning.horizontal
                        .arrow
                        img.card-employees__img(src=require("../../images/employers/employee4.png") alt='Employee-image')
                        .card-employees__description
                            p.card-employees__name Ed James
                            p.card-employees__position SVP, Manufacturing
                            p.card-employees__count-members 4,000 Employees
                        .card-employees__info
                            .card-employees__left-part
                                p Unvaccinated:
                                p Total Cases:
                                p In-Office Cases:
                                p Training Completion:
                                p Policy Acknowledgement:
                            .card-employees__right-part
                                p 30%
                                p 990
                                p 327
                                p 11%
                                p 18%


        article.details-container
            .inner
                h2.details-container__title We Take Care of the Details
                .details-container__content
                    .details-container__left
                        img.details-container__alert(src=require("../../images/employers/alert1.png") alt='Submit test result alert')
                        img.details-container__img(src=require("../../images/employers/details1.png") alt='Application with notification')
                        h3.details-container__subtitle Automated reminders for non-compliant employees
                        p.details-container__text Send automated reminders to non-compliant employees and, optionally, their management
                    .details-container__right
                        img.details-container__alert(src=require("../../images/employers/alert2.png") alt='Travel restrictions lifted alert')
                        img.details-container__img(src=require("../../images/employers/details2.png") alt='Application with guidance')
                        h3.details-container__subtitle Ensure adherence to travel policies
                        p.details-container__text Keep your employees informed about changing COVID-19 travel requirements for domestic and international travel — without the tedious research


        article.return-to-work-container
            h2.return-to-work-container__title Return to Work Safely
            p.return-to-work-container__subtitle Know that employees have taken the proper health and safety precautions to get back to work
            .return-to-work-container__content
                .return-to-work-container__left
                   img.return-to-work-container__img-1(src=require("../../images/employers/return-to-work1.png") alt='Employees back to work')
                .return-to-work-container__right
                   img.return-to-work-container__img-2(src=require("../../images/employers/return-to-work2.png") alt='COVID-19 Compliance status')


        article.future-proof
            .inner
                .future-proof__main-text
                    h2.future-proof__title Future Proof
                    +youtubeLink('U0whaQW2XQ0')
                    p.future-proof__subtitle  No matter how the virus mutates; new booster shots arrive; CDC, federal and state regulations change; and CEOs adjust corporate mandates — HR can be rest assured that COVID Compliance-as-a-Service will adapt to their needs
                    h3.future-proof__guarantee 100% Guaranteed
                .future-proof__service-items-box
                    .future-proof__item
                        img.future-proof__logo(src=require("../../images/employers/proof1.png") alt='Scientists and physicians icon')
                        p.future-proof__info Built by scientists and physicians
                    .future-proof__item
                        img.future-proof__logo(src=require("../../images/employers/proof2.png") alt='AI experts icon')
                        p.future-proof__info Built by accomplished engineers and AI experts
                    .future-proof__item
                        img.future-proof__logo(src=require("../../images/employers/proof3.png") alt='configurable engine icon')
                        p.future-proof__info Configurable, powerful engine


        article.hipaa-container
            .hipaa-container__main-text
                h2.hipaa-container__title HIPAA-Compliant
            .hipaa-container__service-items-box
                .hipaa-container__item
                    img.hipaa-container__logo(src=require("../../images/employers/illustration1.png") alt='illustration')
                    .text
                        h3.hipaa-container__info Safe Log-In
                        ul.hipaa-container__list 
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text 100% encryption
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Immutable audit trail of all activity
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Stored on the most secure cloud systems, not devices
                .hipaa-container__item
                    img.hipaa-container__logo(src=require("../../images/employers/illustration2.png") alt='illustration')
                    .text 
                        h3.hipaa-container__info Protected Access to Information
                        ul.hipaa-container__list 
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text No data are shared or sold
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text You are in control of your data (If you want your data deleted,we delete it)
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text No advertising on our platform
                .hipaa-container__item
                    img.hipaa-container__logo(src=require("../../images/employers/illustration3.png") alt='illustration')
                    .text
                        h3.hipaa-container__info Secure Information Storage
                        ul.hipaa-container__list 
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Single sign-on
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Multi-factor authentication
                            li.hipaa-container__list-item
                                img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
                                span.hipaa-container__item-text Security alerts for unauthorized access


        article.download-container
            .inner
                .download-container__main-text
                    h2.download-container__title Download our product details for free!
                    a(href='./files/Diya COVID CaaS Presentation.pdf' class='material-btn compliance-container__title__button-size' target="__blank") 
                        .label DOWNLOAD

        article.integrations
            h2 Integrations
            +integrations(true,dataIntegrations)


        article.contact-us-container(id="contact-us")
            .title 
                h2 Contact Us
                p.text.
                    Haven't found the answer to your question? Interested in learning more about pricing? Requesting a demo?
                    Contact us and we will get back to you shortly.
            .content
                +contactUsForm(organizationSizeOptions)

        +youtubePopup


block script
    script.
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('dashboard-carousel', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    script(src="https://www.google.com/recaptcha/api.js", defer)   
    

