extends ../shared/layout.pug
include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/about-app.pug
include ../shared/article-title.pug
include ../shared/covid-info.pug
include ../shared/security-info.pug
include ../shared/about-app-index.pug
include ../shared/youtube-video.pug
include ../shared/list.pug
include ../shared/sign-in-button.pug
include ../shared/customers.pug
include ../shared/integrations.pug
include ../shared/youtube-popup.pug

mixin integrationHipaa(text,className)
    li.hipaa-container__list-item(class=className)
        img.hipaa-container__item-logo(src=require("../../images/employers/check.png") alt='check') 
        span.hipaa-container__item-text=text


block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content

    -
        const dataIntegrations = [
                'Isolved',
                'BambooHR',
                'Epic',
                'ADP',
                'Oracle',
                'Excel',
                'Workday',
                'OfficeWork',
                'SAP',
                'SuccessFactors',
                'Cerner',
                'DrugBank',
                'Cornerstone',
                'NIH',
                'Kaiser Permanente'
        ];

          const hipaa = [
                'Single sign-on',
                'Multi-factor authentication',
                'Security alerts for unauthorized access',
                'No data is shared or sold',
                'You are in control of your data (If you want your data deleted, we delete it)',
                'No advertising on our platform',
                '100% encryption',
                'Immutable audit trail of all activity',
                'Stored on the most secure cloud systems, not devices',
        ];

        
    
     
            const imagePath = [
            require("../../images/main-page/video_image-1.png"),
            require("../../images/main-page/video_image-2.png")
        ]

      

    main.main-box.main-page
        article.main-introduce-container
                .main-introduce-container__text-box
                    h1.main-introduce-container__subtitle-text Achieve Greater
                    .main-introduce-container__box-text 
                        .main-introduce-container__box-container 
                            p.main-introduce-container__common-text Clinician Efficiency
                            p.main-introduce-container__common-text Patient Satisfaction
                            p.main-introduce-container__common-text Health Outcomes
                    .main-introduce-container__scribble
                    p.main-introduce-container__description A digital health platform that streamlines communication with patients’ family members. It proactively delivers the right information, at the right time.

                    button.material-btn.main-introduce-container__demo.small(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') 
                        span.label Request a demo

        article.learn-more
            .inner
                h2 Learn More in Less Than 2 Minutes!
                img.learn-more__arrow(src=require("../../images/main-page/down_arrow.png") alt='check') 
                .learn-more__service-items-box
                    .learn-more__item
                        +youtubeImageMain('T2F3uapG_Cg', imagePath[1])
                        p.learn-more__title-text Hospital Systems
                    
                    .learn-more__item
                        +youtubeImageMain('ykTagu8gzdQ', imagePath[0])
                        p.learn-more__title-text Home Health Agencies
                        
        article.communication
            .inner
                h2.communication__header Inadequate family communication disrupts clinical workflows
                p.communication__subtitle Leads to poor health outcomes, clinician burnout, and reduced profit margins
                .communication__image-box
                    img.communication__image-general(src=require("../../images/main-page/graphic.png") alt='image')
        
        article.slider-service
            .inner
                h2.slider-service__title Diya proactively delivers the right information, at the right time

                .carousel-container#dashboard-carousel
                    ol.indicators-container
                        li.indicator.active
                        li.indicator
                        li.indicator
                  
                    .carousel-control.left
                        img.icon(src=require("../../images/employers/arrow-left.svg"), alt="Left")
                    .carousel-control.right
                        img.icon(src=require("../../images/employers/arrow-right.svg"), alt="Right")
                    .content-container
                        .carousel-image-container
                            .carousel-image-wrapper
                                .carousel-image-background.dashboard-carousel-bg-1.active
                                .carousel-image-background.dashboard-carousel-bg-2
                                .carousel-image-background.dashboard-carousel-bg-3
                                
                        ul.text-container
                            li.carousel-item-container.active
                                h3.title Increase Satisfaction
                                p.text Media-rich content delivery proactively answers family members’ most common questions, at their fingertips.
                               
                            li.carousel-item-container
                                h3.title Boost Clinician Efficiency

                                p.text Automated messaging keeps the family informed of each next step, so clinicians can focus on patient care.
                               
                            li.carousel-item-container
                                h3.title Improve Outcomes
                                p.text Post-discharge notifications and reminders ensure no follow-up activity is missed.

        article.designed
            .inner
                h2.designed__header Designed to serve all stages of the continuum of care
               
                .designed__image-box
                    img.designed__image-general(src=require("../../images/main-page/designed.png") alt='designed')
        article.integration
            .inner
                h2.integration__header Seamless Integration
                p.integration__subtitle With any major EMR & AMS system
                +integrationsSystem()

        article.streamlines
            .inner
                h2.streamlines__header Diya streamlines family communication
                p.streamlines__subtitle Improves health outcomes, boosts clinician efficiency, and increases satisfaction
                .streamlines__image-box
                    img.streamlines__image-general(src=require("../../images/main-page/streamline.png") alt='image')

        article.slider-service-testimonials
            .inner
                h2.slider-service__title Testimonials

                .carousel-container-testimonials#dashboard-carousel-testimonials
                    ol.indicators-container
                        li.indicator.active
                        li.indicator
                        li.indicator
                  
                    .carousel-control.left
                        img.icon(src=require("../../images/employers/arrow-left.svg"), alt="Left")
                    .carousel-control.right
                        img.icon(src=require("../../images/employers/arrow-right.svg"), alt="Right")
                    .content-container
                        .carousel-image-container
                            .carousel-image-wrapper
                                .carousel-image-background.dashboard-carousel-bg-1.active
                                    .content-box
                                        .content-box-image 
                                            img.icon(src=require("../../images/main-page/slides/slide1/dave.png"), alt="Dave")
                                        p.name David Pidwell
                                        span.workplace Faculty, Stanford University (Ret.) Graduate School of Business
                                        img.work-image(src=require("../../images/main-page/slides/slide1/stanford.png"), alt="stanford")

                                    
                                .carousel-image-background.dashboard-carousel-bg-2
                                    .content-box
                                        .content-box-image  
                                            img.icon(src=require("../../images/main-page/slides/slide2/tim.png"), alt="Tim")
                                        p.name Tim Dunn
                                        span.workplace Finance Executive, TPG Capital (Ret.) Lead Investor
                                        img.work-image(src=require("../../images/main-page/slides/slide2/tpg.png"), alt="hhax")
                                .carousel-image-background.dashboard-carousel-bg-3
                                    .content-box 
                                        .content-box-image 
                                            img.icon(src=require("../../images/main-page/slides/slide3/rajesh.png"), alt="Rajesh")
                                        p.name Rajesh K Sood, MD
                                        
                                        span.workplace District Programme Officer National Health Mission, HP, India
                                        img.work-image(src=require("../../images/main-page/slides/slide3/nhm.png"), alt="nhm")        

                                
                        ul.text-container
                            li.carousel-item-container.active
                                .box-containers
                           
                                    img.quote-up(src=require("../../images/main-page/slides/quote.png"), alt="quote")
                                    img.quote-down(src=require("../../images/main-page/slides/quote.png"), alt="quote")   
                                    p.text.text-integration Diya has the potential to revolutionize the healthcare industry.

                               
                            li.carousel-item-container
                                .box-containers
                                    img.quote-up(src=require("../../images/main-page/slides/quote.png"), alt="quote")
                                    img.quote-down(src=require("../../images/main-page/slides/quote.png"), alt="quote")   
                                    
                                    p.text.text-integration Diya delivers an unbeatable ROI for anyone managing healthcare.

                               
                            li.carousel-item-container
                                .box-containers
                                    img.quote-up(src=require("../../images/main-page/slides/quote.png"), alt="quote")
                                    img.quote-down(src=require("../../images/main-page/slides/quote.png"), alt="quote")  
                                    p.text.text-integration Diya Health is designed to help us manage immunization compliance and infectious disease outbreaks in the rural communities of HP, India  
                               
                     
        article.hipaa-container
            .inner
                .hipaa-container__main-text
                    h2.hipaa-container__title HIPAA-Compliant
                .hipaa-container__service-items-box
                    .hipaa-container__item
                        img.hipaa-container__logo(src=require("../../images/employers/illustration1.png") alt='illustration')
                        .text
                            h3.hipaa-container__info Safe Log-In
                            ul.hipaa-container__list 
                                +integrationHipaa(hipaa[0])
                                +integrationHipaa(hipaa[1])
                                +integrationHipaa(hipaa[2])
                    .hipaa-container__item
                        img.hipaa-container__logo(src=require("../../images/employers/illustration2.png") alt='illustration')
                        .text 
                            h3.hipaa-container__info Protected Access to Information
                            ul.hipaa-container__list 
                                +integrationHipaa(hipaa[3])
                                +integrationHipaa(hipaa[4])
                                +integrationHipaa(hipaa[5])
                    .hipaa-container__item
                        img.hipaa-container__logo(src=require("../../images/employers/illustration3.png") alt='illustration')
                        .text
                            h3.hipaa-container__info Secure Information Storage
                            ul.hipaa-container__list 
                                +integrationHipaa(hipaa[6])
                                +integrationHipaa(hipaa[7])
                                +integrationHipaa(hipaa[8])
     


        article.contact-us-container(id="contact-us")
            .title 
                h2 Contact Us
                p.text.
                    Haven't found the answer to your question? Interested in learning more about pricing? Requesting a demo?
                    Contact us and we will get back to you shortly.
            .content
                +contactUsForm(organizationSizeOptions)
        +youtubePopup
block script
    script.
       
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('dashboard-carousel', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });

        window.addEventListener('load', (event) => {
            window.diya.carousel.init('dashboard-carousel-testimonials', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    script(src="https://www.google.com/recaptcha/api.js", defer)

    script.
            (function(){
            const boxEl =  document.querySelector('.main-introduce-container__box-container');
            const coll =  document.querySelectorAll('.main-introduce-container__box-container p').length;
            boxEl.style.transition = "all 0.2s";

            if(coll === 0 | coll === 1 ) {
                return;
            }

            let amount = coll;
            let translateStep = -54;
            
            const transitionFunc =()=> {
              if (amount !==1) {
             boxEl.style.transform = `translateY(${translateStep}px)`;
             translateStep += -54;
             amount += -1;
             }

             else {
                 boxEl.style.transform = "translateY(0px)";
                 amount = coll;
                 translateStep = -54;

             }
            }
            const myTimeout = setInterval(transitionFunc,
            3000);
          
            }());

          
