extends ../shared/layout.pug
include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/about-app.pug
include ../shared/article-title.pug
include ../shared/covid-info.pug
include ../shared/security-info.pug
include ../shared/about-app-index.pug
include ../shared/youtube-video.pug
include ../shared/list.pug
include ../shared/sign-in-button.pug

block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content

    main.main-box.main-page
        article.main-introduce-container
            a(href='https://www.diyahealth.org/employers' class='main-introduce-container__alert' rel="noopener noreferrer nofollow") Use our Compliance-as-a-Service Product to stay in compliance with COVID-19 regulatory requirements and bring employees back to work safely. Click here for more information!
            button.material-btn.main-introduce-container__demo.small(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') 
                span.label Request a demo

        article
            +articleTitle('Our Products', { divider: 'primary' }, true)
        article.compliance-product-container.gray
            .compliance-product-container__left
                h2.compliance-product-container__title COVID Compliance-as-a-Service
                p.compliance-product-container__text Helps employers stay in compliance with COVID-19 regulatory requirements and bring employees back to work safely.
                .compliance-product-container__button-box
                    a(href='https://www.youtube.com/watch?v=ueuW0z5_GNc' class='material-btn large color' target="__blank" rel="noopener noreferrer nofollow") WATCH VIDEO
                    a(href='https://www.youtube.com/watch?v=ueuW0z5_GNc' class='material-btn large color addMarginLeft' target="__blank" rel="noopener noreferrer nofollow") LEARN MORE
            .compliance-product-container__right
                .compliance-product-container__image-box.image-compliance-first
        article.compliance-product-container
            .compliance-product-container__left
                h2.compliance-product-container__title Wellness Engagement
                p.compliance-product-container__text Enables HR to create and launch personalized wellness programs for optimal employee engagement and results.
            .compliance-product-container__right
                .compliance-product-container__image-box.image-compliance-second
        article.compliance-product-container.gray
            .compliance-product-container__left
                h2.compliance-product-container__title Discharge Companion
                p.compliance-product-container__text Transforms the archaic post-surgical discharge process into a living, engaging experience that drives better health outcomes.
            .compliance-product-container__right
                .compliance-product-container__image-box.image-compliance-third
        article
            +articleTitle('Testimonials', { divider: 'primary' }, true)
            .slider-service
                    .inner
                        h2.slider-service__title                   
                        .carousel-container#dashboard-carousel
                            ol.indicators-container.custom-settings
                                li.indicator.active
                                li.indicator
                                li.indicator
                                li.indicator
                            .carousel-control.left
                                img.icon(src=require("../../images/employers/arrow-left.svg"), alt="Left")
                            .carousel-control.right
                                img.icon(src=require("../../images/employers/arrow-right.svg"), alt="Right")
                            .content-container
                                .carousel-image-container
                                    .carousel-image-wrapper
                                        .carousel-image-background.active
                                            .carousel-box.dashboard-carousel-bg-2
                                            .text-box
                                                h4 David Pidwell 
                                                p  Faculty, Stanford University Graduate School of Business
                                            .spice-box
                                        .carousel-image-background
                                            .carousel-box.dashboard-carousel-bg-4
                                            .text-box
                                                h4 Gary Chu
                                                p MD - Chief, Physical Health and Wellness, The Permanente Medical Group
                                            .spice-box
                                        .carousel-image-background
                                            .carousel-box.dashboard-carousel-bg-1
                                            .text-box
                                                h4 Sangeeta Marwaha, MD
                                                p MD - Chair, Dermatology Technology
                                            .spice-box
                                        .carousel-image-background
                                            .carousel-box.dashboard-carousel-bg-3
                                            .text-box
                                                h4 Rajesh K Sood, MD
                                                p MD - Epidemiology, District Programme Officer, National Health Mission, HP, India
                                            .spice-box
                                ul.text-container
                                    .text-container__box
                                        li.carousel-item-container.active
                                            p.text 	&#8221;Diya Health has the potential to revolutionize the health and wellness industry.&#8221;
                                        li.carousel-item-container
                                            p.text 	&#8221;Diya Health's technology will help to bridge an important gap in the Personal Health Records (PHR) and telehealth industries.&#8221;
                                        li.carousel-item-container
                                            p.text 	&#8221;Diya Health allows doctors to quickly understand and trust patient's health information, and give the safest and best medical care.&#8221;
                                        li.carousel-item-container
                                            p.text 	&#8221;Diya Health is designed to help us manage immunization compliance and infectious disease outbreaks in the rural communities of HP, India.&#8221;
        article
            +articleTitle('Press', { divider: 'primary' }, true)
        article.press-container
            .press-container__main-box
                .press-container__card-box
                    .card-press
                        .card-press__title Blogs
                        .card-press__image
                            img(src=require("../../images/blog/patient-doctor-call.jpg") alt='Patient and doctor video call')
                        p.card-press__info Diya Health has partnered with U.S. cardiologists to provide care to patients with severe heart conditions in Himachal Pradesh, India.
                        a(href=pages.ourBlog.url class='card-press__read-more' target="__blank" rel="noopener noreferrer nofollow") Read more
                    .card-press
                        .card-press__title Product Details E-Book
                        .card-press__image
                            img(src=require("../../images/main-page/e-book-cover.jpg") alt='Product details E-Book')
                        p.card-press__info Helps employers stay in compliance with COVID-19 regulatory requirements and bring employees back to work safely.
                        a(href='./files/diyaHR COVID Compliance Presentation.pdf' class='card-press__read-more' target="__blank" rel="noopener noreferrer nofollow") Download
                    .card-press
                        .card-press__title Social Media
                        .card-press__full-height
                            iframe(src="https://my.walls.io/f5gkq?nobackground=1&amp;show_header=0"
                                    frameborder="0"
                                    allowfullscreen=""
                                    id="wallsio-iframe"
                                    style="border:0;width:100%;height:100%;min-height:330px" 
                                    loading="lazy"
                                    title="Diya Health Linked-in feed")
                .press-container__request-box 
                    .press-container__line-box
                        .press-container__blue-line
                    .press-container__demo-request
                        button.material-btn.large.color(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') 
                            span.label Request a demo
                    .press-container__line-box
                        .press-container__blue-line
        article.contact-us-background-content(id="contact-us")
            +contactUs(organizationSizeOptions)
block script
    script.
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('dashboard-carousel', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    script(src="https://www.google.com/recaptcha/api.js", defer)
