extends ../shared/layout.pug
include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/about-app.pug
include ../shared/article-title.pug
include ../shared/covid-info.pug
include ../shared/security-info.pug
include ../shared/about-app-index.pug
include ../shared/youtube-video.pug
include ../shared/list.pug
include ../shared/sign-in-button.pug
include ../shared/customers.pug
include ../shared/integrations.pug
include ../shared/youtube-popup.pug
include ../shared/great-down-button.pug

mixin integrationBlogCards(article)
    a.card-press-box(href=article.href)
        .card-press
            .card-press__outer(style={'background-image': `url('${require("../../images/blog/" + article.image)}')` })
            .card-press__content-box
                -
                    const short = article.title.substring(0, 45) + '...'
                p.card-press__info=short
                img.card-employees__arrow(src=require("../../images/about-us/arrow.svg") alt='check')


mixin waved
    img.waved-top(src=require('../../images/bg/wave-top.svg'))
    .waved-content 
        block
    img.waved-bottom(src=require('../../images/bg/wave-top.svg'))

mixin wave-divider
    img.wave-divider(src=require('../../images/bg/divider.svg'))
    img.wave-divider-tablet(src=require('../../images/bg/divider-tablet.svg'))
    img.wave-divider-phone(src=require('../../images/bg/divider-phone.svg'))

block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    main.main-box.main-page.v3
        .page-intro
                .main-banner
                    .title
                        h1 Clinicians are busy saving lives,
                            br
                            span.subtitle leave family engagement to
                                include ../../images/logos/diya/diya.svg

                        button.material-btn(onclick="window.diya.toAnchor('contact-us', 'input')")
                            | Request a demo
                .learn-more
                    .h2 Learn More in Less Than 1 Minute!
                    +greatDownButton('bridge-the-gap')

        article.plain-article#bridge-the-gap
            h2 
                span Bridge the 
                span.text-primary Family Engagement 
                span Gap

            p.article-subtitle
                span Digital health transformation has left family engagement behind, 
                br
                span Diya fills the gap!

            +youtubeInline('sTDfnCR96aQ', require('../../images/pages/index/icu-room.jpg'), 'ICU room')


        +waved
            article.plain-article#collaboration
                h2 Developed in Collaboration

                p.article-subtitle
                    span with experts from 
                    strong.text-primary leading health systems

                ul.clients-logo
                    li
                        img(src=require('../../images/pages/index/clients/mount-sinai.png'), alt='Mount Sinai Logo')
                    li
                        img(src=require('../../images/pages/index/clients/kaiser-permanente.png'), alt='Kaiser Permanente Logo')
                    li
                        img(src=require('../../images/pages/index/clients/uc-davis-health.png'), alt='UC Davis Health Logo')
                    li
                        img(src=require('../../images/pages/index/clients/keck-medicine-of-usc.png'), alt='Keck Medicine Of USC Logo')
                    li
                        img(src=require('../../images/pages/index/clients/stanford-health-care.png'), alt='Stanford Health Care Logo')

                button.m5.ma.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') GET STARTED

        article.plain-article#efficiency
            .two-columns.reversed
                .text
                    .call-out Clinician Efficiency
                    h2.m2 Save Clinicians 
                        span.text-primary 30+ Minutes 
                        | per Shift
                    p.m2.
                        Family-centered care — which incorporates family members
                        into a collaborative team with patients and clinicians —
                        is a key component of high-quality ICU care.
                        Diya’s state of the art technology delivers on this promise!
                        It has also proven to save clinicians time and improve job satisfaction.

                    a.m3.material-btn(href="./health-systems")
                        | Learn More
                .image
                    img(src=require('../../images/pages/index/benefit-1.jpg'), alt="Benefit #1")

        +waved
            article.plain-article#savings
                .title
                    .pre-line That’s
                    .main-line $5M per year savings
                    .pre-line for a 150-bed hospital

                    a.m3.material-btn(href='./health-systems#calculate-savings') CALCULATE YOUR SAVINGS


        article.plain-article#efficiency
            .two-columns
                .image
                    img(src=require('../../images/pages/index/benefit-2.jpg'), alt="Benefit #2")
                .text
                    img.call-out-logo(src=require('../../images/pages/index/cms-rating.png'))
                    h2.m2 Strengthen 
                        span.text-primary Hospital Brand
                    p.m2.
                        Diya automates communication between the patient’s care team and family members,
                        promotes humanization of the patient, and provides emotional support to the family.
                        It’s no wonder that families are left in awe of hospitals’ services!

                    button.m3.material-btn(onclick="window.diya.toAnchor('contact-us', 'input')")
                        | Learn More

        +wave-divider

        article.integration#collaboration
            h2.integration__header Seamless Integration
            p.integration__subtitle With any major EMR & AMS system
            +integrationsSystem()

        +wave-divider

        .home-care
            article.slider-testimonials
                .inner
                    h2.slider-service__title Testimonials

                    .carousel-container-testimonials#dashboard-carousel-testimonials
                        .carousel-control.left
                            include ../../images/employers/arrow-left.svg
                        .carousel-control.right
                            include ../../images/employers/arrow-right.svg
                        .content-container
                            .carousel-image-container
                                .carousel-image-wrapper
                                    .carousel-image-background.dashboard-carousel-bg-1.active
                                        .content-box
                                            .content-box-image  
                                                img.icon(src=require("../../images/main-page/slides/slide2/tim.png"), alt="Tim")
                                            p.name Tim Dunn
                                            span.workplace Finance Executive, TPG Capital (Ret.) Lead Investor
                                            img.work-image(src=require("../../images/main-page/slides/slide2/tpg.png"), alt="hhax")

                                    .carousel-image-background.dashboard-carousel-bg-4
                                        .content-box
                                            .content-box-image  
                                                img.icon(src=require("../../images/main-page/slides/slide4/joe.png"), alt="Joe").minimized
                                            p.name Joe Ponnezhan, MD
                                            span.workplace ICU Medical Director
                                            img.work-image(src=require("../../images/main-page/slides/slide4/ahmc.jpg"), alt="ahmc logo")

                                    .carousel-image-background.dashboard-carousel-bg-2
                                        .content-box
                                            .content-box-image 
                                                img.icon(src=require("../../images/main-page/slides/slide1/dave.png"), alt="Dave")
                                            p.name David Pidwell
                                            span.workplace Faculty, Stanford University (Ret.) Graduate School of Business
                                            img.work-image(src=require("../../images/main-page/slides/slide1/stanford.png"), alt="stanford")
                                        
                                    .carousel-image-background.dashboard-carousel-bg-3
                                        .content-box 
                                            .content-box-image.image-special
                                                img.icon.icon-special(src=require("../../images/home-care/images/susan.png"), alt="Susan")
                                            p.name Susan Pasley
                                            
                                            span.workplace VP, Clinical Solutions CareRev

                                            img.work-image(src=require("../../images/home-care/images/carerev.png"), alt="nhm")

                            .containerD
                                ul.text-container
                                    ol.indicators-container-up
                                    li.carousel-item-container.active
                                        .box-containers
                                            img.quote-up(src=require("../../images/main-page/slides/quote.png"), alt="quote")
                                            img.quote-down(src=require("../../images/main-page/slides/quote.png"), alt="quote")   
                                            p.text.text-integration Diya has the potential to revolutionize the healthcare industry.

                                    li.carousel-item-container
                                        .box-containers
                                            img.quote-up(src=require("../../images/main-page/slides/quote.png"), alt="quote")
                                            img.quote-down(src=require("../../images/main-page/slides/quote.png"), alt="quote")   
                                            p.text.text-integration Diya improves communication between patients, families, and physicians, which is essential to providing high-quality care.


                                    li.carousel-item-container
                                        .box-containers
                                            img.quote-up(src=require("../../images/main-page/slides/quote.png"), alt="quote")
                                            img.quote-down(src=require("../../images/main-page/slides/quote.png"), alt="quote")   
                                            p.text.text-integration Diya is on its way to revolutionizing the healthcare industry.

                                    li.carousel-item-container
                                        .box-containers
                                            img.quote-up(src=require("../../images/main-page/slides/quote.png"), alt="quote")
                                            img.quote-down(src=require("../../images/main-page/slides/quote.png"), alt="quote")  
                                            p.text.text-integration Diya Health has developed an amazing platform that improves caregiver efficiencies and the patient and family experience

                                    ol.indicators-container
                                        li.indicator.active
                                        li.indicator
                                        li.indicator
                                        li.indicator  

        +wave-divider

        .about-us
            article.our-blog-container
                .our-blog-container__title
                    h2 Resources
                    .our-blog-container__cards-container
                        +integrationBlogCards(blog[0])
                        +integrationBlogCards(blog[1])
                        +integrationBlogCards(blog[2])
                        +integrationBlogCards(blog[3])
                    a.button-mobile-settings.material-btn.compliance-container__title__button-size(href=pages.ourBlog.url) 
                        .label Learn More

        +wave-divider

        article.contact-us-container(id="contact-us")
            .title 
                h2 Contact Us
                p.text.
                    Learn more about how Diya Health can improve family engagement for your organization.
            .content
                +contactUsForm(organizationSizeOptions)
        +youtubePopup
block script
    script.
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('dashboard-carousel-testimonials', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
    script(src="https://www.google.com/recaptcha/api.js", defer)
