extends ../shared/layout.pug
include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/about-app.pug
include ../shared/article-title.pug
include ../shared/covid-info.pug
include ../shared/security-info.pug
include ../shared/about-app-index.pug
include ../shared/youtube-video.pug
include ../shared/list.pug
include ../shared/sign-in-button.pug
include ../shared/customers.pug
include ../shared/integrations.pug
include ../shared/youtube-popup.pug
include ../shared/great-down-button.pug
include ../shared/waved.pug 
include ../shared/viewport.pug

mixin integrationBlogCards(article)
    a.card-press-box(href=article.href)
        .card-press
            .card-press__outer(style={'background-image': `url('${require("../../images/blog/" + article.image)}')` })
            .card-press__content-box
                p.card-press__info=article.title
                img.card-employees__arrow(src=require("../../images/about-us/arrow.svg") alt='check')



block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diya.health/")
    meta(property="og:image" content=require("@images/logos/diya/diyahealth.svg"))
    meta(property="og:description" content="Diya Health")

block content
    main.page-index.v3
        .plain-article.two-columns
            .simplified-page-intro
                .title Healthcare Communication
                    br
                    span.text-primary.underline Reimagined

                p Leveraging the latest advancements in AI to increase profitability, improve clinician capacity, and strengthen brand

                button.material-btn(onclick="window.diya.toAnchor('contact-us', 'input')") Request a demo

            div
                +youtubeInline('c-ZZmQtvlOw', require("@images/pages/index/doctor-holds-patient-hand.jpg"))

        +waved
            .plain-article#collaboration
                h2 Developed in Collaboration

                p.article-subtitle
                    span with experts from&nbsp;
                    strong.text-primary leading health systems

                ul.clients-logo
                    li
                        img(src=require('../../images/pages/index/clients/mount-sinai.png'), alt='Mount Sinai Logo')
                    li
                        img(src=require('../../images/pages/index/clients/kaiser-permanente.png'), alt='Kaiser Permanente Logo')
                    li
                        img(src=require('../../images/pages/index/clients/uc-davis-health.png'), alt='UC Davis Health Logo')
                    li
                        img(src=require('../../images/pages/index/clients/keck-medicine-of-usc.png'), alt='Keck Medicine Of USC Logo')
                    li
                        img(src=require('../../images/pages/index/clients/stanford-health-care.png'), alt='Stanford Health Care Logo')

                button.m5.ma.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') GET STARTED

        .plain-article.two-columns.reversed(data-viewport)
                .animate-clinicians
                    include ../../images/pages/index/clinician-family-communication.svg
                .simplified-page-intro
                    .title Increase Clinician&nbsp;
                        span.text-primary Capacity

                    p Empower clinicians and staff to communicate in a way that’s easy for patients and families to understand, without any extra work.

                    button.material-btn(onclick="window.diya.toAnchor('contact-us', 'input')") Learn More

        +waved
            .plain-article.two-columns(data-viewport)
                .simplified-page-intro
                    .title Increase Your&nbsp;
                        span.text-primary Profitability

                    p The non-English-speaking patient population is growing. Serve a larger market with the first HIPAA-compliant AI-driven interpreter & translator.

                    button.material-btn(onclick="window.diya.toAnchor('contact-us', 'input')") Learn More

                .animate-session
                    include ../../images/pages/index/translation-session.svg


        .plain-article.two-columns(data-viewport)
            .animate-family
                include ../../images/pages/index/doctor-to-family-members.svg

            .simplified-page-intro
                .title Strengthen Your&nbsp;
                    span.text-primary Brand

                p Extend your reach to patients’ loved ones throughout the full continuum of care — whether they are 10 miles or 10,000 miles away — fully automated.

                button.material-btn(onclick="window.diya.toAnchor('contact-us', 'input')") Learn More

        +wave-divider

        .plain-article
            h2 Hear from Our Users
            .two-columns.m4
                .stack
                    .quote Diya helps our patients and families to better cope with serious illness every day
                    .org-person
                        .avatar-box
                            img.avatar(src=require("@images/main-page/ruth.jpg"), alt="Ruth Levy, NP")
                        .info-box
                            .name Ruth Levy, NP
                            .title Nurse Practitioner Neurosciences ICU
                            img.org-logo(src=require('@images/pages/index/clients/mount-sinai.png'), alt="Mount Sinai Logo")
                .stack
                    +youtubeInline('nhcinjb4RrQ', require('@images/pages/index/doctor-holds-hand.jpg'))

        +waved
            .plain-article
                .extra-testimonial.m4
                    .stars
                        include ../../images/main-page/star.svg
                        include ../../images/main-page/star.svg
                        include ../../images/main-page/star.svg
                        include ../../images/main-page/star.svg
                        include ../../images/main-page/star.svg

                    .quote Diya is a must-have for all health systems!
                    .org-person
                        .avatar-box
                            img.avatar(src=require("../../images/about-us/photos/kapaska.jpg"), alt="Dr. David Kapaska")
                        .info-box
                            .name David Kapaska, DO
                            .title Hospital CEO (Ret.)

        .plain-article
            h2 Who We Serve

            .carousel-container.who-we-serve#who-we-serve
                .content-container
                    .carousel-control.left
                        include ../../images/employers/arrow-left.svg

                    ul.content-items
                        li.carousel-item-container.active
                            .two-columns
                                .stack
                                    .slide-title Health Systems
                                    .illustration
                                        img(src=require("@images/pages/index/health-systems.jpg"))
                                .stack
                                    .quote Diya seamlessly keeps patients & families understood and informed while truly reducing the administrative burdens too often placed on our caregiving staff
                                    .org-person
                                        .avatar-box
                                            img.avatar(src=require("@images/pages/index/greg.jpg"))
                                        .info-box
                                            .name Greg Stecklein
                                            .title Press Ganey

                        li.carousel-item-container
                            .two-columns
                                .stack
                                    .slide-title Long-Term Care
                                    .illustration
                                        img(src=require("@images/pages/index/long-term-care.jpg"))
                                .stack
                                    .quote Diya increases capacity with its AI-based platform that interprets & translates all communications in over 130 languages for employees and customers.
                                    .org-person
                                        .avatar-box
                                            img.avatar(src=require("@images/about-us/photos/briggs.jpg"))
                                        .info-box
                                            .name Jim Briggs
                                            .title Tata Consultancy

                        li.carousel-item-container
                            .two-columns
                                .stack
                                    .slide-title Community Health
                                    .illustration
                                        img(src=require("@images/pages/index/community-health.jpg"))
                                .stack
                                    .quote CCS Health engages ‘at the kitchen table’ 24/7 with Diya
                                    .org-person
                                        .avatar-box
                                            img.avatar(src=require("@images/pages/index/bob.png"))
                                        .info-box
                                            .name Bob Harnach
                                            .title Care Coordination Systems

                    .carousel-control.right
                        include ../../images/employers/arrow-right.svg

                .indicators-container
                    .carousel-control.left
                        include ../../images/employers/arrow-left.svg
                    ol.indicators
                        li.indicator.active
                        li.indicator
                        li.indicator
                    .carousel-control.right
                        include ../../images/employers/arrow-right.svg

        +wave-divider

        article.integration#collaboration
            h2 Seamless Integration
            p.article-subtitle With any major EMR & AMS system
            +integrationsSystem()

        +waved

            .about-us
                article.our-blog-container
                    .our-blog-container__title
                        h2 Resources
                        .our-blog-container__cards-container
                            +integrationBlogCards(blog[0])
                            +integrationBlogCards(blog[1])
                            +integrationBlogCards(blog[2])
                            +integrationBlogCards(blog[3])
                        a.button-mobile-settings.material-btn.compliance-container__title__button-size(href=pages.blog.url) 
                            .label Learn More

        article.plain-article#contact-us.contact-us-container
            .title 
                h2 Contact Us
                p.text-center Let’s reimagine communication for your organization
            .content
                +contactUsForm(organizationSizeOptions)

block script
    +youtubeIntegration
    +trackViewportEntry
    script.
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('who-we-serve', {
                switchSlideControlSelector: '.carousel-control',
            }, 8000);
        }, { once: true });
    script(src="https://www.google.com/recaptcha/api.js", defer)
