extends ../shared/layout.pug

include ../shared/head-image.pug

block content
    +headImage("head-bg-our-projects", "We believe patients and doctors are a team.")
    
    article.content-block 
        h2(style="text-align: center;") For Doctors
        h2.index-highlight RxDiya: Prescribe with confidence.

    article.content-block.text-image
        .text-container
            h2.block-title Patient information in one place
            p.text.
                Across the world demand for medical expertise far outstrips the supply, and no where is this pain felt more acutely than in the developing world. Your time is incredibly valuable. RxDiya surfaces critical patient data into an intelligent synopsis, so you can build a picture of the patients health in seconds, and make decisions about what treatments in a short span of time.
        .image-container
            img(src=require("../../images/our-projects/health-synopsis.png"), alt="Health Synopsis")

    article.content-block.text-image
        .text-container
            h2.block-title Smart alerts
            p.text.
               Adverse Drug Reactions (ADRs) caused over 106,000 deaths and hospitalized over 2M people in 2017 in the US alone. In developing countries, where prescription drugs are available over the counter, the death rates due to ADRs are even higher. You and your patients deserve to have the best information available. The Diya platform provides empowers doctors with livesaving inforamation such as drug side effects, contraindications, and ADRs for all locally available meds including fixed dose combination drugs, which is used in a timely manner to help doctors create the best diagnoses and treatment plans.
        .image-container
            img(src=require("../../images/our-projects/adr-alerts.png"), alt="ADR Alerts")

    article.content-block.text-image
        .text-container
            h2.block-title Comprehensive medical records
            p.text.
                Complete and accurate records are to critical to your ability to practice safe and effective medicine. Our intuitive, and engaging onboarding and record maintenance process helps ensure doctors have the most complete patient records at their fingertips, including those created and maintained outside your practice. We are elevating doctor-to-patient and doctor-to-doctor collaboration to a new level.
        .image-container
            img(src=require("../../images/our-projects/medical-mac.jpg"), alt="Doctors Tools and Computer")

    article.content-block 
        h2(style="text-align: center;") For Patients and Caretakers
        h2.index-highlight myDiya: Feel Safe.
        
    article.content-block.text-image
        .text-container
            h2.block-title Unprecedented access
            p.text.
                At DiyaGroup we believe that patient involvement is critical to solving the problem of the delivery of quality health care to all of the worlds people. This is why we have developed a platform which gives you unprecedented access to and control of your medical record, as well as pertinent and detailed medical information to keep you informed about preventative and management health. With myDiya, you have a true seat at the table of managing your health.
        .image-container
            img(src=require("../../images/our-projects/account-screen.png"), alt="Account Screen")
        
    article.content-block.text-image
        .text-container
            h2.block-title Your records are your records
            p.text.
                In an emergency it's critical to have your health records available immediately. With myDiya you won't be left scambling to collect and share your records with medical providers or stuck with potentially life threatening delays. In the digital age, many doctors and health institutions still lack basic ability to send and receive health records, and we believe it is the patient—the true owner of these records—who is the key to solving this problem and ushering in a new era of collaboration.
        .image-container
            img(src=require("../../images/our-projects/medical-book.jpg"), alt="Medical Book")

    article.content-block.text-image

    //- article.content-block-bg
    //-     .content-inner.op-try
    //-         h2.block-title Want to try it now?
    //-         p.text.
    //-             The OK to Take application will be available for all soon. However, the beta version is already available for testing.
    //-             We invite you to be one of our early users and provide us with your valuable feedback.
