extends ../shared/layout.pug
block head
    base(href="../")

    meta(name="twitter:card" value=page.name)
    meta(property="og:title" content=page.name)
    meta(property="og:type" content="website")
    meta(property="og:url" content=`https://www.diyahealth.org/${page.destination}`)
    meta(property="og:image" content=`https://www.diyahealth.org/${require(`../../images/blog/${post.image}`)}`)
    meta(property="og:description" content=page.description)

block content
    main.post-container
        .post-container__header
            .post-container__tag Family

            h1=post.title
            .post-container__date-time
                span.post-container__date=post.date
            .post-container__social-networks
                a(href=`https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.diyahealth.org%2Fblog%2F${page.source}` class='post-ref' target="__blank")
                    img.post-container__social-image(src=require("../../images/icons/facebook-icon.svg") alt='check') 
                a(href=`http://www.linkedin.com/shareArticle?mini=true&url=https%3A%2F%2Fwww.diyahealth.org%2Fblog%2F${page.source}` class='post-ref' target="__blank") 
                    img.post-container__social-image(src=require("../../images/icons/linkedin-icon.svg") alt='check')
                a(href=`https://twitter.com/intent/tweet?url=https%3A%2F%2Fwww.diyahealth.org%2Fblog%2F${page.source}` class='post-ref' target="__blank")
                    img.post-container__social-image(src=require("../../images/icons/twitter-icon.svg") alt='check')
        .post-container__image-box
             
            img(src=require(`../../images/blog/${post.image}`) alt='Doctor with family') 
        .post-container__text-box
            p.post-container__text-block The healthcare industry is facing a looming crisis. As the amount of people who need care grows and the number of new physicians slows, one stakeholder group has become critical to the stability of healthcare delivery: family caregivers.
            p.post-container__text-block In the article&nbsp;
                a(href='https://www.forbes.com/sites/glennllopis/2023/04/27/empowering-patients-and-caregivers-a-solution-to-healthcares-looming-crisis/?sh=170d18b33af6') "Empowering Patients and Caregivers: A Solution to Healthcare's Looming Crisis,"&nbsp;
                | published in Forbes, author Glenn Llopis highlights the urgent need for family caregiver empowerment as a key solution to the healthcare industry's challenges. Llopis argues that by shifting the focus towards patient-family-centered care, healthcare providers can improve outcomes, enhance patient satisfaction, and address a predicted crisis.
            p.post-container__text-block Llopis begins by acknowledging the current state of the healthcare industry, describing it as a system that often fails to prioritize patients and their family caregivers. He emphasizes the importance of recognizing the vital role played by family caregivers in supporting patients as they manage at-home care plans, medication schedules, appointments, and overall well-being. By empowering family caregivers to take on these clinical tasks effectively, healthcare providers can establish a collaborative relationship that leads to better outcomes.
            p.post-container__text-block Healthcare organizations must move beyond the traditional transactional care delivery model to an empathetic, patient-family-centered approach. Llopis suggests several strategies to spark this shift.
            
            p.post-container__text-block
                ol
                    li
                        strong Patient & Family Education:
                        span &nbsp;Improve access to accurate and understandable information about conditions, treatment options, and available resources. This knowledge empowers patients and family caregivers to actively participate in care decisions and become advocates for their health.
                    li
                        strong Digital Health Technology:
                        span &nbsp;Digital platforms, such as engagement apps and telehealth services, provide convenient access to essential healthcare resources and foster communication between patients, caregivers, and healthcare professionals. These technologies bridge the gaps in healthcare delivery and improve overall patient and family engagement.
                    li
                        strong Culture of Communication:
                        span &nbsp;By collaborating with patients and their caregivers in decision-making, healthcare providers can create a more inclusive and patient-family-centric environment. This approach not only enhances patient satisfaction but also leads to improved treatment outcomes.

            p.post-container__text-block Llopis concludes by highlighting the positive impact of patient and family caregiver empowerment on the healthcare industry. By recognizing and valuing the contributions of patients and caregivers, healthcare organizations can create a more effective and sustainable system. Patients and their caregivers become active participants in their care, leading to better health outcomes and greater satisfaction.
            p.post-container__text-block
                strong Reference:
                ul
                    li Llopis, G. (2023, April 27). Empowering Patients and Caregivers: A Solution to Healthcare's Looming Crisis. Forbes. Retrieved from:
                        br
                        a.pure(href="https://www.forbes.com/sites/glennllopis/2023/04/27/empowering-patients-and-caregivers-a-solution-to-healthcares-looming-crisis/?sh=170d18b33af6") https://www.forbes.com/sites/glennllopis/2023/04/27/empowering-patients-and-caregivers-a-solution-to-healthcares-looming-crisis/?sh=170d18b33af6

            .post-container__text-block
                p.post-container__bold-text  About Diya Health
                p Diya Health’s digital health technology platform saves clinicians more than 30 minutes per day by proactively answering patients’ and family members’ most repetitive questions. It seamlessly integrates with any major EMR to minimize workflow disruptions and boost job satisfaction. Learn more at
                    a(href='https://www.diyahealth.org/' class='post-ref' target="__blank") &nbsp; www.diyahealth.org