extends ../shared/layout.pug
include ../shared/contact-us-form.pug
include ../shared/customers.pug
include ../shared/integrations.pug
include ../shared/youtube-popup.pug
include ../shared/integrationTable.pug
include ../shared/help-popup.pug
include ../shared/integration-features.pug
include ../shared/pricing-features.pug

mixin pricingCartPerkItem(name)
    li.pricing-card__perks-item
        img.pricing-card__perks-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
        span=name 

mixin featureListItem(name, helpIndex)
    li.pricing-container__features-list-item
        img.pricing-card__perks-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
        span=name
        .closest(data-help=helpIndex)
            +helpPopupBody
            img.pricing-container__features-item-logo(src=require("../../images/icons/question.svg") alt='check')

mixin featureTableItem(name, helpIndex)
    li.pricing-container__features-list-item
        span=name
        .closest(data-help=helpIndex)
            +helpPopupBody
            img.pricing-container__features-item-logo(src=require("../../images/icons/question.svg") alt='check')


block content
    -
        const dataIntegrations = [
                'BambooHR',
                'ADP',
                'Oracle',
                'Excel',
                'Workday',
                'OfficeWork',
                'SAP',
                'SuccessFactors',
                'Cornerstone',
                'Epic',
                'Cerner',
                'Kaiser Permanente',
                'NIH',
                'DrugBank',
        ];
    main.main-box.wellness

        article.wellness-image-container
            .wellness-image-container__notice-box-hidden
                    .wellness-image-container__wellness-text-box
                        span.wellness-image-container__text-increase 8x increase in engagement!
                        img.wellness-image-container__company-logo(src=require("../../images/customers/Falck Logo.png"), alt="Falck Logo")
            .wellness-image-container__notice-box
                    img.wellness-image-container__container-background(src=require("../../images/wellness/images/notice.svg") alt='Processes to get back to work safely')
                    .wellness-image-container__wellness-text-box
                        span.wellness-image-container__text-increase 8x increase in engagement!
                        img.wellness-image-container__company-logo(src=require("../../images/customers/Falck Logo.png"), alt="Falck Logo")
            .wellness-image-container__text-box
                .wellness-image-container__subtitle-text 
                    img.wellness-image-container__img(src=require("../../images/icons/diya-logo.svg") alt='Diya Logo') 
                    span.flex-end  Wellness 
                    span.flex-end &nbsp; Engagement
                span.wellness-image-container__text Your Wellness, Personalized
                button.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') 
                    span.label Request a demo
      
        article.wellness-container
            .wellness-container__left
                .wellness-container__title
                    h2 Personalized Content, Applied to Wellness Programs
                    +youtubeLink('i2RBDqiaRSU')
                p.wellness-container__text.
                    Diya Wellness Engagement curates and delivers personalized content that is specific to employees’
                    wellness needs and goals. It’s the personalization that we have grown to love about Netflix and 
                    Amazon, but applied to wellness programs.
            .wellness-container__right
                .wellness-container__image-box
        +customers('lift-up')
        article.example-container
            .inner
                .example-container__title
                    h2 Meet David and Jessica
                    +youtubeLink('6qXpvh8r0AY')
                p.example-container__subtitle David and Jessica are employees with distinct needs. Instead of providing them with the same generic content, Diya Wellness Engagement delivers individualized recommendations to improve their well-being.
                .example-container__content-box
                    .example-container__box-left.mr-class
                        .example-container__employees-info
                            .card-employees
                                .card-employees__logo-1

                                .card-employees__text
                                    h2 David Green
                                    p.card-employees__workplace Manufacturing Department
                                    p.card-employees__old 61 Years Old
                                    .arrow
                                .card-employees__arrow
                            ul.list-employees
                                .arrow.second
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_low_income.svg") alt='Low income')
                                    span Low Income Level  
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_smoker.svg") alt='Smoker')
                                    span Smoker 
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_stress-1.svg") alt='Stress')
                                    span Medium Stress Level 
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_chronic-conditions-1.svg") alt='Chronic conditions')
                                    span High Risk for Chronic Conditions 
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_primary_care-1.svg") alt='Primary Care')
                                    span No Primary Care Provider Identified  
                        .example-container__employees-page
                            img(src=require('../../images/wellness/illustrations/section_2_illustration_david.png'))

                    .example-container__box-right
                        .example-container__employees-info
                            .card-employees
                                .card-employees__logo-2
                                .card-employees__text
                                    h2 Jessica Smith
                                    p.card-employees__workplace Engineering Department
                                    p.card-employees__old 29 Years Old
                                    .arrow 
                                .card-employees__arrow        
                            ul.list-employees
                                .arrow.second
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_medium_income.svg") alt='Low income')
                                    span Medium Income Level  
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_non_smoker.svg") alt='Non smoker')
                                    span Non-Smoker
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_stress.svg") alt='Stress')
                                    span High Stress Level
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_chronic-conditions.svg") alt='Chronic conditions')
                                    span Medium Risk for Chronic Conditions 
                                li.list-employees__item 
                                    img.list-employees__img(src=require("../../images/wellness/icons/icon_primary_care.svg") alt='Primary care')
                                    span Primary Care Provider Identified
                        .example-container__employees-page
                            img(src=require('../../images/wellness/illustrations/section_2_illustration_jessica.png'))

        article.slider-service
            .inner
                h2.slider-service__title HR Gets Real-Time Insight into Employee Engagement
                .carousel-container#dashboard-carousel
                    ol.indicators-container
                        li.indicator.active
                        li.indicator
                        li.indicator
                        li.indicator
                        
                    .carousel-control.left
                        img.icon(src=require("../../images/employers/arrow-left.svg"), alt="Left")
                    .carousel-control.right
                        img.icon(src=require("../../images/employers/arrow-right.svg"), alt="Right")
                    .content-container
                        .carousel-image-container
                            .carousel-image-wrapper
                                .carousel-image-background.dashboard-carousel-bg-1.active
                                .carousel-image-background.dashboard-carousel-bg-2
                                .carousel-image-background.dashboard-carousel-bg-3
                                .carousel-image-background.dashboard-carousel-bg-4

                        ul.text-container
                            li.carousel-item-container.active
                                h3.title Employee engagement analytics at your fingertips
                                p.text Quickly identify which wellness programs are successful. No more waiting for survey results or digging through data warehouses.
                            li.carousel-item-container
                                h3.title Assess employees’ satisfaction with vendors
                                p.text Ensure that vendors are providing great value to your employees. 
                                p.text When it’s time to renew your contract, you know which vendors to keep.
                            li.carousel-item-container
                                h3.title Know which programs are worth continuing
                                p.text View ongoing employee engagement statistics to identify which programs are worth the investment.
                            li.carousel-item-container
                                h3.title Forecast which programs will have the greatest impact
                                p.text Develop programs that are most needed for your employee population.
                                p.text Set benchmarks and measure success.

        article.empower-hr
            .inner
                h2.empower-hr__title Empower HR to Make Informed Decisions
                p.empower-hr__subtitle With Diya Wellness Engagement, HR has the tools to create engaging wellness programs with a high return on investment.
                .empower-hr__service-items-box
                    .empower-hr__item
                        img.empower-hr__logo(src=require("../../images/wellness/icons/section_4_icon_1.svg") alt='Experts in pandemic compliance')
                        p Make smart investments
                    .empower-hr__item
                        img.empower-hr__logo(src=require("../../images/wellness/icons/section_4_icon_2.svg") alt='Processes to get back to work safely')
                        p Measure results in real-time
                    .empower-hr__item
                        img.empower-hr__logo(src=require("../../images/wellness/icons/section_4_icon_3.svg") alt='Technology designed specifically for compliance')
                        p Prove outcomes globally

        article.slider-service-drive
            .inner
                .slider-service-drive__description-box
                    h2.slider-service-drive__title Diya Wellness Engagement Drives Results
                    p.slider-service-drive__text When employees get content specific to their needs, they engage in and improve their well-being.
                  
                .carousel-container-drives-result#dashboard-carousel-drives-result
                    ol.indicators-container
                        li.indicator.active
                        li.indicator
                        li.indicator
                        li.indicator
                        li.indicator
                    .carousel-control.left
                        img.icon(src=require("../../images/employers/arrow-left.svg"), alt="Left")
                    .carousel-control.right
                        img.icon(src=require("../../images/employers/arrow-right.svg"), alt="Right")
                    .content-container
                        .carousel-image-container
                            .carousel-image-wrapper
                                .carousel-image-background.dashboard-carousel-bg-1.active
                                    h3.slider-service-drive__subtitle Vaccination Program Utilization
                                    .content-box
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide1/slide1.png"), alt="Left")
                                        .logo-wrapper
                                            .logo-box
                                                .arrow-up 
                                                .arrow-down
                                                .arrow-left 
                                                .arrow-right
                                                img.logo(src=require("../../images/wellness/slider1/logo.png"), alt="Left")
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide1/slide2.png"), alt="Left")
                                
                                .carousel-image-background.dashboard-carousel-bg-2
                                    h3.slider-service-drive__subtitle Weight Management Program Utilization
                                    .content-box
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide3/slide1.png"), alt="Left")
                                        .logo-wrapper
                                            .logo-box
                                                .arrow-up 
                                                .arrow-down
                                                .arrow-left 
                                                .arrow-right
                                                img.logo(src=require("../../images/wellness/slider1/logo.png"), alt="Left")
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide3/slide2.png"), alt="Left")
                                .carousel-image-background.dashboard-carousel-bg-3
                                    h3.slider-service-drive__subtitle Meditation Program Utilization
                                    .content-box
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide4/slide1.png"), alt="Left")
                                        .logo-wrapper
                                            .logo-box
                                                .arrow-up 
                                                .arrow-down
                                                .arrow-left 
                                                .arrow-right
                                                img.logo(src=require("../../images/wellness/slider1/logo.png"), alt="Left")
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide4/slide2.png"), alt="Left")
                                .carousel-image-background.dashboard-carousel-bg-4
                                    h3.slider-service-drive__subtitle Financial Stress Reduction Program Utilization
                                    .content-box
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide5/slide1.png"), alt="Left")
                                        .logo-wrapper
                                            .logo-box
                                                .arrow-up 
                                                .arrow-down
                                                .arrow-left 
                                                .arrow-right
                                                img.logo(src=require("../../images/wellness/slider1/logo.png"), alt="Left")
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide5/slide2.png"), alt="Left")
                                .carousel-image-background.dashboard-carousel-bg-5
                                    h3.slider-service-drive__subtitle Job Satisfaction Surveys
                                    .content-box
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide6/slide1.png"), alt="Left")
                                        .logo-wrapper
                                            .logo-box
                                                .arrow-up 
                                                .arrow-down
                                                .arrow-left 
                                                .arrow-right
                                                img.logo(src=require("../../images/wellness/slider1/logo.png"), alt="Left")
                                        .img-box
                                            img.slide(src=require("../../images/wellness/slider1/slide6/slide2.png"), alt="Left")       

        article.pricing-container
            .pricing-container__main-text
                    h2.pricing-container__title Pricing
            .pricing-container__pricing-card-box
                .pricing-card
                    .pricing-card__title Essential
                    .pricing-card__subtitle For organizations that are looking to manage vaccination records and test results in a HIPAA-compliant manner.
                    .pricing-card__subscribe-price-box
                        .pricing-card__price-box
                            .pricing-card__price-first
                                s $0.50
                                .pricing-card__mobile-info.activate
                                    span Per employee / month billed annually
                            .pricing-card__info
                                span Free for a limited time 
                        .pricing-card__describe-price
                            span Per employee / month billed annually
                    a(href='./files/Diya COVID CaaS Presentation.pdf' class='button-mobile-settings material-btn compliance-container__title__button-size' target="__blank") 
                        .label GET STARTED
                    ul.pricing-card__perks-list
                        +pricingCartPerkItem('5 documents')
                        +pricingCartPerkItem('1 admin user')
                        +pricingCartPerkItem('Up to 250 employees')
                    ul.pricing-container__features-list.activate
                        +featureListItem('5 documents', 0)
                        +featureListItem('1 admin user', 1)
                        +featureListItem('Up to 250 employees', 2)
                        +integrationFeatures
                            +featureListItem('HIPAA-Compliant', 3)
                            +featureListItem('HCM integrations', 4)
                            +featureListItem('Curated, personalized content delivery', 5)
                            +featureListItem('Email & SMS notifications', 6)
                            +featureListItem('Employee emergency preparedness', 7)
                .pricing-card
                    .pricing-card__title Professional
                    .pricing-card__subtitle For organizations that also need reporting and time & efficiency gain features for HR.
                    .pricing-card__subscribe-price-box
                        .pricing-card__price-box
                            .pricing-card__price-first
                                span.pricing-card__price-color $2
                                .pricing-card__mobile-info.activate
                                    span Per employee / month billed annually
                                
                        .pricing-card__describe-price
                            span Per employee / month billed annually
                    a(href='./files/Diya COVID CaaS Presentation.pdf' class='button-mobile-settings material-btn compliance-container__title__button-size' target="__blank") 
                        .label BUY PROFESSIONAL 
                    ul.pricing-card__perks-list
                        +pricingCartPerkItem('Unlimited documents')
                        +pricingCartPerkItem('5 admin user')
                        +pricingCartPerkItem('Unlimited number of employees')
                    ul.pricing-container__features-list.activate
                        +featureListItem('Unlimited documents', 0)
                        +featureListItem('5 admin user', 1)
                        +featureListItem('Unlimited number of employees', 2)
                        +integrationFeatures
                            +featureListItem('HIPAA-Compliant', 3)
                            +featureListItem('HCM integrations', 4)
                            +featureListItem('Curated, personalized content delivery', 5)
                            +featureListItem('Email & SMS notifications', 6)
                            +featureListItem('Employee emergency preparedness', 7)
                            +featureListItem('Personalized employee wellness portal', 8)
                            +featureListItem('Engagement dashboard & analytics', 9)
                            +featureListItem('Employee-vendor satisfaction report', 10)
                            +featureListItem('Reports download', 11)
                .pricing-container__special-box
                    .pricing-container__most-popular
                        span Most popular 
                    .pricing-card.pricing-container__borders
                        .pricing-card__title Enterprise
                        .pricing-card__subtitle For corporations that need to support multi-state or multi-national compliance policies, and require advanced reporting & analytics.
                        .pricing-card__subscribe-price-box
                        .pricing-card__price-box
                            .pricing-card__price-first
                                span.pricing-card__price-color $3
                                .pricing-card__mobile-info.activate
                                    span Per employee / month billed annually
                            
                        .pricing-card__describe-price
                            span Per employee / month billed annually
                        a(href='./files/Diya COVID CaaS Presentation.pdf' class='button-mobile-settings material-btn compliance-container__title__button-size' target="__blank") 
                            .label BUY ENTERPRISE
                        ul.pricing-card__perks-list
                            +pricingCartPerkItem('Unlimited documents')
                            +pricingCartPerkItem('Unlimited number of admin users')
                            +pricingCartPerkItem('Unlimited number of employees')
                        ul.pricing-container__features-list.activate
                            +featureListItem('Unlimited documents', 0)
                            +featureListItem('Unlimited number of admin users', 1)
                            +featureListItem('Unlimited number of employees', 2)
                            +integrationFeatures
                                +featureListItem('HIPAA-Compliant', 3)
                                +featureListItem('HCM integrations', 4)
                                +featureListItem('Curated, personalized content delivery', 5)
                                +featureListItem('Email & SMS notifications', 6)
                                +featureListItem('Employee emergency preparedness', 7)
                                +featureListItem('Personalized employee wellness portal', 8)
                                +featureListItem('Engagement dashboard & analytics', 9)
                                +featureListItem('Employee-vendor satisfaction report', 10)
                                +featureListItem('Reports download', 11)
                                +featureListItem('Automated HCM sync', 13)
                                +featureListItem('Automated content creation', 14)
                                +featureListItem('Customized engagement dashboard & analytics', 15)
                                +featureListItem('ROI reports', 16)
                                +featureListItem('Predictive health risks data', 17)
                                +featureListItem('Scheduled & automated notifications', 18)
                                +featureListItem('Alerts for low engagement', 19)
                                +featureListItem('Annual consults with health & wellness physicians', 20)
                                +featureListItem('Corporate emergency preparedness', 21)
                                +featureListItem('Benefits vendor integrations', 22)
                                +featureListItem('Health insurance claims integration', 23)

            +integrationTable(true)
                .pricing-container__table-box 
                    table.pricing-container__table
                        tr 
                            th.pricing-container__width 
                            th.pricing-container__border-right.pricing-container__common-width   Essential
                            th.pricing-container__border-right.pricing-container__common-width Professional
                            th.pricing-container__enterprise.pricing-container__common-width  Enterprise
                        tr
                            td
                                ul.pricing-container__features-list
                                    +featureTableItem('Diya Health\'s Signature Content', 0)
                                    +featureTableItem('Number of admin users', 1)
                                    +featureTableItem('Number of employees', 2)
                                    +featureTableItem('HIPAA-Compliant', 3)
                                    +featureTableItem('HCM integrations', 4)
                                    +featureTableItem('Curated, personalized content delivery', 5)
                                    +featureTableItem('Email & SMS notifications', 6)
                                    +featureTableItem('Employee emergency preparedness', 7)
                            td
                                ul.pricing-container__arrows-list
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text 5 documents
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text 1
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text Up to 250
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')

                            td.pricing-container__border-left-right
                                ul.pricing-container__arrows-list
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text Unlimited
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text 5
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text Unlimited
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')

                            td.pricing-container__background
                                ul.pricing-container__arrows-list
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text Unlimited
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text Unlimited
                                    li.pricing-container__arrows-list-item
                                        span.pricing-container__number-employees-text Unlimited
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                        tr
                            td 
                                ul.pricing-container__features-list
                                    +featureTableItem('Personalized employee wellness portal', 8)
                                    +featureTableItem('Engagement dashboard & analytics', 9)
                                    +featureTableItem('Employee-vendor satisfaction report', 10)
                                    +featureTableItem('Reports download', 11)
                            td  
                            td.pricing-container__border-left-right 
                                ul.pricing-container__arrows-list
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')    
                            td.pricing-container__background 
                                ul.pricing-container__arrows-list
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check') 
                        tr.pricing-container__last-row
                            td
                                ul.pricing-container__features-list
                                    +featureTableItem('Automated HCM sync', 12)
                                    +featureTableItem('Automated content creation', 13)
                                    +featureTableItem('Customized engagement dashboard & analytics', 14)
                                    +featureTableItem('ROI reports', 15)
                                    +featureTableItem('Predictive health risks data', 16)
                                    +featureTableItem('Scheduled & automated notifications', 17)
                                    +featureTableItem('Alerts for low engagement', 18)
                                    +featureTableItem('Annual consults with health & wellness physicians', 19)
                                    +featureTableItem('Corporate emergency preparedness', 20)
                                    +featureTableItem('Benefits vendor integrations', 21)
                                    +featureTableItem('Health insurance claims integration', 22)
                            td  
                            td.pricing-container__border-left-right 
                            td.pricing-container__background 
                                ul.pricing-container__arrows-list
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item.pricing-container__change-margin
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item.pricing-container__change-margin
                                        img.pricing-container__arrows-item-logo(src=require("../../images/icons/arrow.svg") alt='check')
                                    li.pricing-container__arrows-list-item.pricing-container__change-margin
                                        a(href='./files/Diya COVID CaaS Presentation.pdf' class='material-btn compliance-container__title__button-size' target="__blank") 
                                            .label Contact US
                                    li.pricing-container__arrows-list-item
                                        a(href='./files/Diya COVID CaaS Presentation.pdf' class='material-btn compliance-container__title__button-size' target="__blank") 
                                            .label Contact US

 
        article.integrations
            h2 Integrations
            +integrations(true,dataIntegrations)

                   
        
        article.download-container
            .inner
                .download-container__main-text
                    h3.download-container__title Download our product details for free!
                    a(href='./files/Diya Wellness Engagement Presentation.pdf' class='material-btn compliance-container__title__button-size' target="__blank") 
                        .label DOWNLOAD

        article.contact-us-container(id="contact-us")
            .inner
                .title
                    h2 Contact Us
                    p.text.
                        Haven't found the answer to your question? Interested in learning more about pricing? Requesting a demo?
                        Contact us and we will get back to you shortly.
                .content
                    +contactUsForm(organizationSizeOptions)

        +youtubePopup
        +helpPopup([
            'Access to Diya Health\'s signature wellness content, created by health and wellness experts',
            'The number of administrative users permitted on the platform at one time',
            'The number of employees that can be hosted on the platform at one time',
            'Meets HIPAA privacy and security requirements',
            'API integration with any human capital management system',
            'One-click delivery of content to employees based on office location, department, and wellness needs',
            'Content delivery notifications sent via email and SMS',
            'Employees create a scannable emergency card, which provides first responders with essential health information',
            'Netflix-style employee wellness portal that stores & categorizes content specific to their needs',
            'Holistic employee engagement data, updated monthly',
            'Ability for employees to rate wellness vendors and content on a 5-star scale',
            'Reports can be downloaded into Excel, CSV, or PDF formats',
            'Full automation and updates of human capital management data, including the employee roster',
            'Content that is developed and managed by the Diya team',
            'Real-time employee engagement data displayed holistically, by program, by office location, and by department',
            'Real-time return on investment data, comparing employee engagement per program to dollars invested',
            'Analytics on chronic conditions that pose the greatest risks to employee well-being',
            'Email and SMS notifications that can be scheduled ahead of time and managed by the Diya team',
            'Alerts to admin users when program engagement falls below a chosen threshold',
            'Annual consultations with physicians who provide guidance on wellness initiatives',
            'Corporations can distribute mass email and SMS notifications to all employees in case of an emergency',
            'API integration with any benefits vendor',
            'Integration with health insurance claims data'
        ])
        +pricingFeatures

block script
    script.
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('dashboard-carousel', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });
        window.addEventListener('load', (event) => {
            window.diya.carousel.init('dashboard-carousel-drives-result', {
                switchSlideControlSelector: '.carousel-control',
                backgroundSelector: '.carousel-image-background',
            }, 8000);
        });

    script(src="https://www.google.com/recaptcha/api.js", defer)

