extends ../shared/layout.pug
include ../shared/text-image-carousel.pug
include ../shared/contact-us.pug
include ../shared/reviews.pug
include ../shared/info-tile.pug
include ../shared/partners.pug
include ../shared/about-app.pug
include ../shared/article-title.pug
include ../shared/covid-info.pug
include ../shared/security-info.pug
include ../shared/about-app-index.pug
include ../shared/youtube-video.pug
include ../shared/list.pug
include ../shared/sign-in-button.pug
include ../shared/customers.pug
include ../shared/integrations.pug
include ../shared/youtube-popup.pug
include ../shared/great-down-button.pug

mixin integrationBlogCards(article)
    a.card-press-box(href=article.href)
        .card-press
            .card-press__outer(style={'background-image': `url('${require("../../images/blog/" + article.image)}')` })
            .card-press__content-box
                -
                    const short = article.title.substring(0, 45) + '...'
                p.card-press__info=short
                img.card-employees__arrow(src=require("../../images/about-us/arrow.svg") alt='check')


mixin waved
    img.waved-top(src=require('../../images/bg/wave-top.svg'))
    .waved-content 
        block
    img.waved-bottom(src=require('../../images/bg/wave-top.svg'))

mixin wave-divider
    img.wave-divider(src=require('../../images/bg/divider.svg'))
    img.wave-divider-tablet(src=require('../../images/bg/divider-tablet.svg'))
    img.wave-divider-phone(src=require('../../images/bg/divider-phone.svg'))

block head
    meta(name="twitter:card" value="Diya Health Website")
    meta(property="og:title" content="Diya Health Website")
    meta(property="og:type" content="website")
    meta(property="og:url" content="https://www.diyahealth.org/")
    meta(property="og:image" content="https://www.diyahealth.org/images/cbde0a1dc167b130bcf77464cabbe0e7.svg")
    meta(property="og:description" content="Diya Health")

block content
    main.main-box.why-page.v3
        .page-intro
                .main-banner
                    .title
                        h1 Family Engagement

                            br
                            h1 Done Right!
                            .scribble
                                img(src=require('../../images/why/scribble.png'), alt="scribble") 

                        button.material-btn(onclick="window.diya.toAnchor('contact-us', 'input')")
                            | Request a demo
                .learn-more
                    .h2 Learn More
                    +greatDownButton('optimize')

     

        article.plain-article#optimize
            .two-columns.order-items
                .text
                    
                    h2.m2 Optimize 
                        span.text-primary Clinician Efficiency 
                    p.m2.
                        With the critical staffing shortage, it’s paramount that the precious
                        few clinicians focus on the highest quality care.
                        Family engagement is an overhead.

                    p.m5.mb3 Diya saves your clinicians&nbsp;
                            span.text-primary 30+ minutes per day&nbsp;
                            | by automatically addressing family
                            | members’ most common questions and minimizing
                            | subsequent workflow disruptions.

                    +youtubeLink('1tTG-IuJnhE')
                .image
                    img(src=require('../../images/why/illustration.png'), alt="illustration #1")
        +waved
            article.plain-article
                .two-columns.row-reversed.order-items
                    .text
                        
                        h2.m2 Transform 
                            span.text-primary Communication Quality  
                        p.m2.
                            Not every hospital can afford to invest in 
                            high-quality educational content for families.

                        p.m5 
                            | Diya gives you access to the best-rated content 
                            | from top health systems. Save time and money, 
                            | while the family benefits from easy-to-understand
                            | information about their loved one’s condition.

                        a.m3.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                            | Learn More
                    .image
                        img(src=require('../../images/why/illustration1.png'), alt="illustration #2")

        article.plain-article
            .two-columns.order-items
                .text
                    
                    h2.m2 Strengthen 
                        span.text-primary Hospital Brand 
                    p.m2.
                        Families are proactively kept informed 
                        from admission through discharge. 
                        Rather than anxiously waiting for a clinician’s daily call,
                        family members collaborate on the latest updates in real-time.

                    p.m5.mb3 With such an&nbsp;
                            span.text-primary incomparable experience
                            |, families feel compelled to spread the word.
                         

                    //- +youtubeLink('tPfLQ4IBNv4')
                    a.m3.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                            | Learn More
                .image
                    img(src=require('../../images/why/illustration2.png'), alt="illustration #3")

        +waved
            article.plain-article#collaboration.special-padding
                h2 Developed in Collaboration

                p.article-subtitle
                    span with experts from 
                    strong.text-primary leading health systems

                ul.clients-logo             
                    li
                        img(src=require('../../images/pages/index/clients/kaiser-permanente.png'), alt='Kaiser Permanente Logo')
                    li
                        img(src=require('../../images/pages/index/clients/uc-davis-health.png'), alt='UC Davis Health Logo')
                    li
                        img(src=require('../../images/pages/index/clients/keck-medicine-of-usc.png'), alt='Keck Medicine Of USC Logo')
                    li
                        img(src=require('../../images/pages/index/clients/stanford-health-care.png'), alt='Stanford Health Care Logo')

                button.m5.ma.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')') GET STARTED
        .wave-translate
            +wave-divider

        article.plain-article.getting-started
            h2 
                span Getting Started is&nbsp;
                span.text-primary Easy
            .card-box
                .info-card
                    .info-card__number
                        img(src=require('../../images/why/numbers/1.png'), alt='Number 1')

                    h3.mb3 Frictionless deployment with&nbsp; 
                        span.text-primary minimal IT needs
                    p Your IT staff is busy, we get that. 
                      | Let us get you up and running with minimal
                      | IT investment.
                    a.m4.ma.material-btn(onclick='window.diya.toAnchor(\'stories\')')
                            | Learn More
                  
                .info-card
                    .info-card__number
                        img(src=require('../../images/why/numbers/2.png'), alt='Number 2')
                    h3.mb3 Access to content from&nbsp; 
                        span.text-primary top health systems
                    p.mb4 No need to create all of your own educational content!&nbsp;Pick from a shared library. 
                        
                    .ma 
                        //- +youtubeLink('tPfLQ4IBNv4')
                        a.material-btn(onclick='window.diya.toAnchor(\'contact-us\', \'input\')')
                            | Learn More
                        
                 
                .info-card
                    .info-card__number
                        img(src=require('../../images/why/numbers/3.png'), alt='Number 3')
                    h3.mb3
                        span.text-primary Low-cost&nbsp;
                        | starter package
                    p A $2500/month cost is designed to make budgeting painless for you.
                    button.m4.ma.material-btn(onclick='window.diya.toAnchor(\'pricing\')')  VIEW PRICING
           

        +wave-divider
        article.plain-article.stories#stories
                .stories__header-wrapper
                    h2 Success 
                        span.text-primary Stories 
                .two-columns.row-reversed.order-items
                    .text
                        
                        .stories__logo
                            img(src=require('../../images/pages/index/clients/uc-davis-health.png'), alt='UC Davis Health Logo')
                        h3.m2.text-left
                            strong Got started with &nbsp;
                            span.text-primary no IT engagement

                        p.m2 A UC Davis outpatient clinic, Clínica Tepati, 
                         | launched Diya’s starter pack without consuming the IT department’s time. 

                     
                    .image
                        img(src=require('../../images/why/stories/story2.png'), alt="Story #2")    
                          
        +wave-divider

        article.plain-article.research
                .research__header-wrapper
                    h2 Research 
                        
                .two-columns.row-reversed.order-items
                    .text
                        
                        .box-containers.research
                            img.quote-up(src=require("../../images/why/quote.png"), alt="quote")
                            img.quote-down(src=require("../../images/why/quote.png"), alt="quote")   
                            p.text.text-integration Family engagement by the clinical team is recognized as a key component of high-quality ICU care.
                        .text-align-center
                            a.m5.display-inline-block.special-margin-top.material-btn(href='https://catalyst.nejm.org/doi/full/10.1056/CAT.20.0396', target="_blank") VIEW RESEARCH

                     
                    .image
                        img.general-img(src=require('../../images/why/research/research.png'), alt="Research")
                      
                        .box-research
                                h3.m2 
                                    strong Stephanie Parks Taylor, MD 
                                p.m1.small-text Professor of Internal Medicine

                                p.small-text Atrium Health, Wake Forest School of Medicine
                                img.m3.special-margin(src=require('../../images/why/research/atrium__logo.svg'), alt="Atrium logo")   

        +wave-divider
        article.plain-article(id="pricing")
            h2  Pricing
            p.article-subtitle Low cost makes budgeting painless for you!
                    
            .pricing-card-box
                .pricing-card
                    p.pricing-card__header.first-color Subscription
                    .pricing-card__info-box
                        .m3.pricing-card__price $2,500/mo
                        .pricing-card__description Billed annually ($30K/yr)
                        h3.pricing-card__text Includes 50 staff members


                  
                .pricing-card
                    p.pricing-card__header.second-color Implementation
                    .pricing-card__info-box
                        .m3.pricing-card__price $5,000
                        .pricing-card__description One-time payment
                        h3.pricing-card__text Includes integration, training, and go-live support

                .pricing-card
                    p.pricing-card__header.third-color Add-Ons
                    .pricing-card__info-box
                        h3
                            span.text-primary Additional Staff
                        .pricing-card__description Packs of 20
                        .m1.pricing-card__price-small $1,000/mo
                        .pricing-card__description Billed annually ($12K/yr)
                        h3.m3
                            span.text-primary Video & Content Assist
                        .pricing-card__description Two days of assistance
                        .m1.pricing-card__price-small $1,995
                        .pricing-card__description One-time payment
            .text-align-center
                button.margin-request-top.material-btn(onclick="window.diya.toAnchor('contact-us', 'input')")
                            | Request a demo
                

        +wave-divider
        article.contact-us-container(id="contact-us")
            .title 
                h2 Contact Us
                p.text.
                    Learn more about how Diya Health can improve family engagement for your organization.
            .content
                +contactUsForm(organizationSizeOptions)
        +youtubePopup

