mixin banner(text, imageSrc, classes, link)
    .banner-container(class=classes && classes.root)
        .background-image(style=`background-image: url("${imageSrc}")`, class=classes && classes.bgContainer)
            .banner-content(class=classes && classes.content)
                block
                .text-container(class=classes && classes.textContainer)
                    .text(class=classes && classes.text)
                        if(Array.isArray(text))
                            each textItem, index in text
                                span=textItem
                                if (index !== text.length -1)
                                    br
                        else
                            span=text
                        if link != null
                            .more-link-container
                                a.more-link(href=link, target="_blank")
                                    span Read More
                                    include ../../images/icons/forward-arrow-icon.svg

