
mixin blogArticles(articles)
    -
        const bigContainer =[]
        const mediumContainer =[]
        const smallContainer =[]
        
            articles.forEach((x,index)=> {
                if (index===0) {
                    bigContainer.push(x)
                }
                if (index>0 && index<=2) {
                    mediumContainer.push(x)
                }

                if (index>2) {
                    smallContainer.push(x)
                }
            })
        

    .blog-articles-content
            .header-content-container 
                h1 Our blog 
            .big-container
                 each article in bigContainer
                    .content
                        .container
                            a(href=article.href, target="_blank")
                                img.image(src=article.image)
                        .container-big-info
                            if (article.tag)
                                .tag
                                    .tagName=article.tag
                            a(href=article.href, target="_blank")
                                h2.font-weight-bold.articleMargin.title=article.title
                            .date-time  
                                span.date=article.date
                                //- span.time=article.timeToRead
            .medium-container
                each article in mediumContainer
                    .content
                        .container
                            a(href=article.href, target="_blank")
                                img.image(src=article.image)
                        .container-info.container-info-padding
                            if (article.tag)
                                a.tag(href=article.tag.ref)
                                    .tagName=article.tag.name        
                            a(href=article.href, target="_blank")
                                h2.articleMargin.title=article.title
                            .date-time  
                                span.date=article.date
                                span.time=article.timeToRead
            .small-container
                    each article in smallContainer
                        .content
                            .container
                                a(href=article.href, target="_blank")
                                    img.image(src=article.image)
                            .container-info
                                if (article.tag)
                                    a.tag(href=article.tag.ref)
                                        .tagName=article.tag.name        
                                a(href=article.href, target="_blank")
                                    h4.articleMargin.title=article.title
                                .date-time  
                                    span.date=article.date
                                    span.time=article.timeToRead