include submit-message.pug

mixin contactUsForm(organizationSizeOptions)
    - const options = organizationSizeOptions || []
    form.contact-us-form(
        action=pages.contactUs.url,
        method="post",
        name="questions",
        onsubmit="return diya.contactUs.form.send(event, this)")#form
        fieldset#fields
            .form-control
                .input-container
                    input.input(name="Name", required, placeholder=" ", type="text", maxlength="250")
                    .form-label Name*
            .form-control
                .input-container
                    input.input(name="Email", required, placeholder=" ", type="email", maxlength="250")
                    .form-label Email*
            .form-control
                .input-container
                    select.input(name="OrganizationSize", required, placeholder=" ", type="email", maxlength="250")
                        each option in options
                            option(value=option.value) #{option.label}
                    .form-label Organization Size
            .form-control
                .input-container
                    textarea.input.non-resizable(name="Message", placeholder=" ", rows="5", maxlength="10000")
                    .form-label Comments

            .g-recaptcha(
                    data-sitekey=keys.google.captcha,
                    data-callback="passCaptcha",
                    data-error-callback="resetCaptcha"
                    data-expired-callback="resetCaptcha")

            button.material-btn(type="submit")
                span.label
                    include ../../images/icons/mail-outline-icon.svg
                    span Submit

    .loader-container.hidden#loader
        .loader
            .circle
            .circle
            .circle
            .circle
            .circle

    +submitMessage("Your message has been sent", "success-message")
        .message-text Thank you for contacting us! We will get in touch with you as soon as possible.

    +submitMessage("An error occured during the request", "error-message")
        .message-text Please contact us via email 
            a(href=`mailto:${contacts.email}`)=contacts.email
        button.btn(type="button", onclick="return diya.contactUs.form.reset()") Try Again