.contacts-container
    .map#js-google-map
    .contacts-overlay-container
        .contacts-overlay
            h1.title Contact Us
            ul.links
                li
                    a(href=`tel:${contacts.phone}`)
                        i.icon-phone
                        |#{contacts.phoneText}
                li
                    a(href=`mailto:${contacts.email}`)
                        i.icon-email
                        |#{contacts.email}
                li
                    a(href=`https://www.google.com/maps/place/${contacts.address.gmap}`,
                    target="_blank").address
                        i.icon-address
                        |#{contacts.address.line1}
                        br
                        |#{contacts.address.line2}