mixin customers(additionalClass)
    .customers-container
        .customers-content(class=additionalClass)
            .customer-logo
                img(src=require("../../images/customers/Mt. Sinai Logo.png"), alt="Mt. Sinai Logo")
            .customer-logo
                img(src=require("../../images/customers/Naehas Logo.png"), alt="Naehas Logo")
            .customer-logo
                img(src=require("../../images/customers/Falck Logo.png"), alt="Falck Logo")

mixin integrationsSystem(additionalClass)
    .integrations-seamless-container
        .integrations-seamless-content(class=additionalClass)
            .customer-logo
                img(src=require("../../images/main-page/logos/epic.png"), alt="Epic")
            .customer-logo
                img(src=require("../../images/main-page/logos/cerner.png"), alt="Cerner")
            .customer-logo
                img(src=require("../../images/main-page/logos/meditech.png"), alt="Meditech")
            .customer-logo
                img(src=require("../../images/main-page/logos/wellsky.png"), alt="Well sky")
            .customer-logo.hhax-logo
                img(src=require("../../images/main-page/logos/hhax.png"), alt="Hhax")      