mixin followTeam(team)
    script.
            const newEl =  document.querySelector('.leadership-container');
            const backGround =  document.querySelector('.popup-team__background');
            const popupBox =  document.querySelector('.popup-team__content');
            const popupMainBox =  document.querySelector('.popup-team');
            const body =  document.querySelector('body');
            const popups = !{JSON.stringify(team)};
            const popupSubtitleBox =  document.querySelector('.popup-team__subtitle');
            const dataBox =  document.querySelector('.popup-team__info-box');
            const textBox =  document.querySelector('.popup-team__text-box');
          
            newEl.addEventListener('click', e => {
                        e.preventDefault();
                        e.stopPropagation();
                       
                        const target = e.target.closest('.card-employees');
                                                                                                       
                        if( target == null || target.classList.contains('position-card')) {
                            return
                        }

                        popupBox.classList.remove('hidden');

                        popupBox.scrollTo({
                         top: 0,
                         })
                        backGround.classList.remove('hidden');
                        body.classList.add('scroll-off');



                        const currentIndex = +target.dataset.name;
                        const current = popups.find((e)=> e.index ===currentIndex);
                        const popupLogo =  document.querySelector('.popup-team__logo');
                        const popupSubtitle =  document.querySelector('.popup-team__subtitle-text');
                      
                        const popupText =  document.querySelector('.popup-team__text');
                        const popupWork =  document.querySelector('.popup-team__work');
                        const popupName =  document.querySelector('.popup-team__name');
                        const popupLink =  document.querySelector('.popup-team__link');
                        const infoBox =  document.querySelector('.popup-team__link');
               
                       


                        popupLogo.src = current.image;
                        popupSubtitle.innerHTML = current.title;
                        popupText.innerHTML= current.text;
                        popupWork.innerHTML= current.work;
                        popupName.innerHTML= current.name;
                        popupLink.href= current.href;

                        if (popupSubtitle.innerHTML === '') {
                            popupSubtitleBox.classList.add('hidden');
                            textBox.classList.add('order-first');
                            dataBox.classList.add('order-second');

                        }

                                                    
                    });

            popupMainBox.addEventListener('click', e => {
                if (e.target.tagName === 'A') {
                    return;
                }
                e.preventDefault();
                e.stopPropagation();

             
                
                if (e.target.classList.contains('popup-team__close') || e.target.classList.contains('popup-team__background')) {
                    popupBox.classList.add('hidden');
                    backGround.classList.add('hidden');
                    body.classList.remove('scroll-off');
                    popupSubtitleBox.classList.remove('hidden');
                    textBox.classList.remove('order-first');
                    dataBox.classList.remove('order-second');
                }

            });

          


                