footer.footer
    .container
        .section-site-map
            h4.section-title Menu
            ul.links
                li
                    a(href=pages.index.url) About Us
                li
                    a(href=pages.doctors.url)=pages.doctors.name
                li
                    a(href=pages.howToHelp.url)=pages.howToHelp.name
        .section-contacts
            h4.section-title Contact Us
            ul.links
                li
                    a(href=`tel:${contacts.phone}`)=contacts.phoneText
                li
                    a(href=`mailto:${contacts.email}`)=contacts.email
                li
                    a.multi-line(href=`https://www.google.com/maps/place/${contacts.address.gmap}`,
                                 target="_blank").address #{contacts.address.line2}
        .section-copyright
            .copyright-container
                p.copyright Copyright ©#{new Date().getFullYear()} DiyaHealth. All Rights Reserved.
            .link-container
                a(href=pages.privacyPolicy.url)= pages.privacyPolicy.name
                a(href=pages.termsAndConditions.url)= pages.termsAndConditions.name
