-
    const links = [
            {
                href: 'https://www.facebook.com/DiyaHealthOrg',
                icon: require("../../images/icons/facebook-icon.svg"),
            },
            {
                href: 'https://twitter.com/DiyaHealth',
                icon: require("../../images/icons/twitter-icon.svg"),
            },
            {
                href: 'https://www.linkedin.com/company/diyahealth',
                icon: require("../../images/icons/linkedin-icon.svg"),
            }
        ];


footer.footer
    .container
        .section-site-map
            h4.section-title Menu
            ul.links
                li
                    a(href=pages.healthSystems.url)=pages.healthSystems.name
                li
                    a(href=pages.familyConnect.url)=pages.familyConnect.name
                li
                    a(href=pages.employers.url)=pages.employers.name
                
                li
                    a(href=pages.wellness.url)=pages.wellness.name
                li
                    a(href=pages.aboutUs.url)=pages.aboutUs.name
                li
                    a(href=pages.individuals.url)=pages.individuals.name
                li
                    a(href=pages.faq.url) myDiya FAQ

        .section-site-map
            h4.section-title Interactive Demos
            p.mobileAlign General Hospital
            ul.links.specialList
                li
                    a(href='general-hospital/neurocritical-care.html' rel=' noindex nofollow')='Neurocritical Care'
                li
                    a(href='general-hospital/labor-and-delivery.html'  rel=' noindex nofollow')='Labor & Delivery'
                li
                    a(href='general-hospital/cancer.html'  rel='noindex nofollow')='Cancer'
                li
                    a(href='general-hospital/heart-transplant.html'  rel='noindex nofollow')='Heart Transplant'
                li
                    a(href='general-hospital/drug-and-alcohol-addiction.html'  rel='noindex nofollow')= 'Drug & Alcohol Addiction'
                
           
            p.marginTop.mobileAlign Community Health
            ul.links.specialList
                li
                    a(href='communityhealth/addiction-recovery.html'  rel='noindex nofollow')='Addiction Recovery Groups'
                li
                    a(href='communityhealth/heart-health-association.html'  rel='noindex nofollow')='Heart Health Association'
                li
                    a(href='communityhealth/dementia-foundation.html'  rel='noindex nofollow')= 'Dementia Foundation'
                li
                    a(href='communityhealth/caregiving-association.html'  rel='noindex nofollow')='Caregiving Association'
              
                li
                    a(href='communityhealth/veteran-health-association.html'  rel='noindex nofollow')='Veteran Health Association'   
        .section-contacts
            h4.section-title Contact Us
            ul.links
                li
                    a(href=`tel:${contacts.phone}`)=contacts.phoneText
                li
                    a(href=`mailto:${contacts.email}`)=contacts.email
                li
                    a.multi-line(href=`https://www.google.com/maps/place/${contacts.address.gmap}`,
                                 target="_blank").address #{contacts.address.line2}
        .section-copyright
            .copyright-container
                p.copyright Copyright ©#{new Date().getFullYear()} Diya Health. All Rights Reserved.
            .input-footer-group
                    each item in links
                        a(href=item.href, target="_blank")
                            img(src=item.icon, class="input-footer-group__img") 
            .link-container
                a(href=pages.privacyPolicy.url)= pages.privacyPolicy.name
                a(href=pages.termsAndConditions.url)= pages.termsAndConditions.name
