-
    const links = [
            {
                href: 'https://www.facebook.com/DiyaHealthOrg',
                icon: require("../../images/icons/facebook-icon.svg"),
            },
            {
                href: 'https://twitter.com/DiyaHealth',
                icon: require("../../images/icons/twitter-icon.svg"),
            },
            {
                href: 'https://www.linkedin.com/company/diyahealth',
                icon: require("../../images/icons/linkedin-icon.svg"),
            }
        ];


footer.footer
    .container
        .section-site-map
            h4.section-title Menu
            ul.links
                li
                    a(href=pages.healthSystems.url)=pages.healthSystems.name
                li
                    a(href=pages.familyConnect.url)=pages.familyConnect.name
                li
                    a(href=pages.employers.url)=pages.employers.name
                li
                    a(href=pages.aboutUs.url)=pages.aboutUs.name
                li
                    a(href=pages.individuals.url)=pages.individuals.name
                li
                    a(href=pages.faq.url) FAQ
        .section-contacts
            h4.section-title Contact Us
            ul.links
                li
                    a(href=`tel:${contacts.phone}`)=contacts.phoneText
                li
                    a(href=`mailto:${contacts.email}`)=contacts.email
                li
                    a.multi-line(href=`https://www.google.com/maps/place/${contacts.address.gmap}`,
                                 target="_blank").address #{contacts.address.line2}
        .section-copyright
            .copyright-container
                p.copyright Copyright ©#{new Date().getFullYear()} Diya Health. All Rights Reserved.
            .input-footer-group
                    each item in links
                        a(href=item.href, target="_blank")
                            img(src=item.icon, class="input-footer-group__img") 
            .link-container
                a(href=pages.privacyPolicy.url)= pages.privacyPolicy.name
                a(href=pages.termsAndConditions.url)= pages.termsAndConditions.name
