nav.navigation-container
    - const myDiyaUrl = 'https://mydiya.org';
    div.logo-container
        a(href=pages.index.url)
            img.logo(src=require("../../images/diyahealth-logo.svg"), alt="DiyaHealth Logo")
    ul.navigation
        li
            a(href=pages.doctors.url, class=page === pages.doctors ? "active" : "") Doctors
        li
            a(href=myDiyaUrl, target="_blank") Patients & Families
        li
            a(href=pages.aboutUs.url, class=page === pages.aboutUs ? "active" : "") About Us
        li
            a(href=pages.contactUs.url, class=page === pages.contactUs ? "active" : "") Contact Us
