nav.navigation-container
    div.logo-container
        a(href=pages.index)
            img.logo(src=require("../../images/diyagroup-logo.svg"), alt="DiyaGroup Logo")
    ul.navigation
        li
            a(href=pages.ourProjects, class=url === pages.ourProjects ? "active" : "") Our Projects
        li
            a(href=pages.howToHelp, class=url === pages.howToHelp ? "active" : "") How To Help
        li
            a(href=pages.contactUs, class=url === pages.contactUs ? "active" : "") Contact Us
