nav.navigation-container
    - const myDiyaUrl = 'https://mydiya.org';
    div.logo-container
        a(href=pages.index.url)
            img.logo(src=require("../../images/icons/diyahealth-logo.svg"), alt="Diya Health Logo")
    ul.navigation
                li
                    a(href=pages.doctors.url, class=page === pages.doctors ? "active" : "") Doctors
                li
                    a(href=pages.patientsAndFamilies.url, class=page === pages.patientsAndFamilies ? "active" : "") #{pages.patientsAndFamilies.name}
                li
                    a(href=pages.aboutUs.url, class=page === pages.aboutUs ? "active" : "") About Us
                li
                    a(href=pages.contactUs.url, class=page === pages.contactUs ? "active" : "") Contact Us
                li.requestDemo
                    a(href=pages.contactUs.url, class=page === pages.contactUs ? "active" : "") Request Demo
