mixin timelineArticles(data, variant, classes)
    .timeline-articles-container
        each item, index in data
            .article
                if variant === 'oneColumn'
                    span.circle(class=classes && classes.circle)
                        if (item.circleContent)
                            span=item.circleContent
                if (item.src && variant !== 'oneColumn')
                    .part.image-container
                        img(src=item.src)
                .part.text-container
                    if (item.title)
                        .title-container
                            h4.text.title=item.title
                            if variant !== 'oneColumn'
                                span.circle(class=classes && classes.circle)
                                    if (item.circleContent)
                                        span=item.circleContent
                        
                    span.text=item.text
                    if (variant === 'oneColumn')
                        img(src=item.src)



mixin timelineArticlesSecond(data, variant, classes)
    .timeline-articles-container
        
            .article
                .part.text-container.flex-container
                    .title-container
                    if(variant==='small-img')
                            img(src=data.src class=variant)
                    else 
                     img(src=data.src)   
                    
                                      
                                                