mixin waved
    img.waved-top(src=require('@images/bg/wave-top.svg'))
    .waved-content
        block
    img.waved-bottom(src=require('@images/bg/wave-top.svg'))


mixin wave-divider
    img.wave-divider(src=require('../../images/bg/divider.svg'))
    img.wave-divider-tablet(src=require('../../images/bg/divider-tablet.svg'))
    img.wave-divider-phone(src=require('../../images/bg/divider-phone.svg'))