mixin youtubeInline(id, preview, previewAlt)
    a.inline-video-preview(
        id=`youtube-inline-${id}`
        href=`https://youtu.be/${id}`
        target="__blank"
        data-youtube=id
        rel="noopener noreferrer"
    )&attributes(attributes)
        img(src=preview, alt=previewAlt)
        .inline-player(id=id)
        .play-icon(id=`youtube-icon-${id}`)
            include ../../images/icons-v3/play.svg

mixin youtubeIntegration
    script.
        const tag = document.createElement('script');
        tag.src = "https://www.youtube.com/iframe_api";
        const firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        document
            .querySelectorAll('[data-youtube]')
            .forEach(x => x.addEventListener('click', e => {
                const videoId = x.dataset.youtube;
                e.preventDefault();
                e.stopPropagation();
                const wrapper = document.getElementById('youtube-inline-' + videoId);
                if (wrapper.classList.contains('active')) {
                    return;
                }
                wrapper.classList.add('active');
                document.getElementById('youtube-icon-' + videoId).style.display = 'none';
                const player = new YT.Player(videoId, {
                    height: e.currentTarget.clientHeight,
                    width: e.currentTarget.clientWidth,
                    videoId: videoId,
                    playerVars: { 'autoplay': 1 },
                });
            }));


mixin youtubeInlineTrigger(id)
    a.material-btn(
        href=`https://youtu.be/${id}`
        target="__blank"
        data-youtube=id
        rel="noopener noreferrer"
    )&attributes(attributes)
        .label WATCH VIDEO

//- v2

mixin youtubeLink(id, portrait = false)
    a.material-btn(
        href=`https://youtu.be/${id}`
        target="__blank"
        data-youtube-popup=id
        data-orientation=(portrait ? 'portrait' : 'landscape')
        rel="noopener noreferrer"
    )&attributes(attributes)
        .label WATCH VIDEO


mixin youtubeImage(id, path)
    a(
        href=`https://youtu.be/${id}`
        target="__blank"
        data-youtube-popup=id
        rel="noopener noreferrer"
    )&attributes(attributes)
        img.family-engagement__logo(src=path alt='path')


mixin youtubeImageMain(id, path)
    a.learn-more__link(
        href=`https://youtu.be/${id}`
        target="__blank"
        data-youtube-popup=id
        rel="noopener noreferrer"
    )&attributes(attributes)
        img.learn-more__logo(src=path alt='path')
        img.learn-more__play(src=require("../../images/main-page/play.png") alt='path')


mixin youtubePopup
    .popup-video.hidden
        .close
        iframe.iframe(src="")

    script.
        const iframe = document.querySelector('.iframe');
        const popup = document.querySelector('.popup-video');
        const stopYouTubeVideos = () => iframe.src = iframe.src;

        document
            .querySelector('.popup-video .close')
            .addEventListener('click', () => {
                popup.classList.add('hidden');
                stopYouTubeVideos();
            });

        document
            .querySelectorAll('[data-youtube-popup]')
            .forEach(x => x.addEventListener('click', e => {
                e.preventDefault();
                e.stopPropagation();
                iframe.src = 'https://www.youtube.com/embed/' + x.dataset.youtubePopup;
                iframe.classList.toggle('portrait', x.dataset.orientation === 'portrait')
                popup.classList.remove('hidden');
            }));

        // Close on outside click
        document
            .addEventListener('click', e => {
                if (popup.contains(e.target)) {
                    return;
                }

                stopYouTubeVideos();
                popup.classList.add('hidden');
            })