mixin youtubeLink(id, portrait = false)
    a.material-btn(
        href=`https://www.youtu.be/${id}`
        target="__blank"
        data-youtube=id
        data-orientation=(portrait ? 'portrait' : 'landscape')
        rel="noopener noreferrer"
    )&attributes(attributes)
        .label WATCH VIDEO


mixin youtubeImage(id, path)
    a(
        href=`https://www.youtu.be/${id}`
        target="__blank"
        data-youtube=id
        rel="noopener noreferrer"
    )&attributes(attributes)
        img.family-engagement__logo(src=path alt='path')
        

mixin youtubeImageMain(id, path)
    a.learn-more__link(
        href=`https://www.youtu.be/${id}`
        target="__blank"
        data-youtube=id
        rel="noopener noreferrer"
    )&attributes(attributes)
        img.learn-more__logo(src=path alt='path')
        img.learn-more__play(src=require("../../images/main-page/play.png") alt='path')

mixin youtubePopup
    .popup-video.hidden
        .close
        iframe.iframe(src="")

    script.
        const iframe = document.querySelector('.iframe');
        const popup = document.querySelector('.popup-video');
        const stopYouTubeVideos = () => iframe.src = iframe.src;

        document
            .querySelector('.popup-video .close')
            .addEventListener('click', () => {
                popup.classList.add('hidden');
                stopYouTubeVideos();
            });

        document
            .querySelectorAll('[data-youtube]')
            .forEach(x => x.addEventListener('click', e => {
                e.preventDefault();
                e.stopPropagation();
                iframe.src = 'https://www.youtube.com/embed/' + x.dataset.youtube;
                iframe.classList.toggle('portrait', x.dataset.orientation === 'portrait')
                popup.classList.remove('hidden');
            }));

        // Close on outside click
        document
            .addEventListener('click', e => {
                if (popup.contains(e.target)) {
                    return;
                }

                stopYouTubeVideos();
                popup.classList.add('hidden');
            })